<div class="toprow">
    
        <h1 class="nospacing">Mise a cíle</h1>
        <h5><br/>In keeping these beliefs, the school will:</h5>
        <br/>
        <br/>

	<ul style="width:90%;">
		<li>
			provide students with good quality all round education from Nursery level to Year 6 that will:
			<ul>
				<li>develop mastery of essential subject specific skills in literacy, numeracy, science, geography, history, art, music, physical education, IT and technology</li>
				<li>provide an opportunity to develop social and personal skills, emphasizing respect for all people</li>
				<li>uniquely, provide all learners with an opportunity to develop international mindedness and understanding;</li>
				<li>base the curriculum on the courses followed at British international schools to facilitate transfer from and to other UK and International schools</li>
				<li>sustain and develop learners’ abilities in the Czech language and their understanding of Czech history, geography and wider culture to facilitate transfer to Czech schools</li>
			</ul>	
		</li>
		<li>cultivate students' appreciation for and enjoyment of learning so that education becomes a life-long endeavour;</li>
		<li>promote active learning approach and the use of new technologies to help students to improve their work habits and to take responsibility for their own learning</li>
		<li>identify and respond to individual needs and provide appropriate educational programme enabling all children to achieve full potential</li>
		<li>create positive learning environment in which children feel safe, where discipline is firm but not repressive and where children, staff and parents develop good relationships forming a strong community</li>
		<li>deliver educational programme through employment and development of good quality staff who are well-qualified and enthusiastic professionals
facilitate student enrichment via the historic and cultural location of the school and through the varied backgrounds of its student body and faculty;</li>
	</ul>
	
    
</div><!-- .fold -->

<div class="fold">
</div><!-- .fold -->