		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		
		<script type="text/javascript">
		      $(document).ready(function(){

		        // set all input.text default value according to alt attribute
		        $("input.text, textarea").each(function(){
		          $(this).val($(this).attr("alt"));
		        });

		        // clear input.text on focus, if still in default
		        $("input.text, textarea").focus(function() {

		          if($(this).val()==$(this).attr("alt")) {
		            $(this).val("");
		          }
		        });

		        // if field is empty afterward, add text again
		        $("input.text, textarea").blur(function() {
		          if($(this).val()=="") {
		            $(this).val($(this).attr("alt"));
		          }
		        });

		      });

		</script>
	                
				
				<div class="toprow">
					
					<div class="intro">
						<h1 class="nospacing">Contact us</h1>
						<h3 class="nospacing">get in touch,<br/>don't hesitate to ask!</h3>
						<h5><br/>We will be glad to answer your questions,<br/>as well as to hear any comments you may have.</h5>
					</div><!-- .intro -->
					
				</div><!-- .toprow -->
				
				<div class="fold threecols">
					
					<div class="column">
						<h6>Send us a question or message</h6>

						<form action="contact_submit" method="post" accept-charset="utf-8">
							<input class="text" type="text" name="contact" value="your email address" alt="your email address" id="contact">
							<textarea class="text" name="body" rows="8" cols="40" alt="your message or question"></textarea>

							<p><input type="submit" value="Send!"></p>
						</form>
						
						<% if (status==true) %><h6>Email sent successfully. Thank you!</h6><% end %>
						
					</div><!-- .column -->
					
					<div class="column smaller">
						<h6>Contact details</h6>
            
						<p itemscope itemtype="http://schema.org/Organization">
							<span itemprop="employees" itemscope itemtype="http://schema.org/Person">
								<strong>Mr <span itemprop="name">Petr Pospisil</span></strong><br/>
								<span itemprop="jobTitle">Director</span><br/>
								<a href="mailto:petr.pospisil@ischool.cz" itemprop="email">petr.pospisil@ischool.cz</a><br/>
							</span><br/>
							<span itemprop="name">Česko Britská Mezinárodní škola<br/>
							a Mateřská škola s.r.o.</span><br/>
							<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								<span itemprop="streetAddress">Rooseveltova 101</span><br/>
								<span itemprop="addressLocality">Olomouc</span><br/>
								<span itemprop="postalCode">779 00</span><br/>
								<span itemprop="addressCountry">Czech Republic</span><br/>
							</span>
				            <br/>
							tel. <span itemprop="telephone">+420 585 754 880</span><br/>
							mob. <span itemprop="telephone">+420 604 115 982</span><br/>
							<a href="mailto:info@ischool.cz" itemprop="email">info@ischool.cz</a>
						</p>
					</div><!-- .column -->
					
					<div class="column smaller">
						<h6>&#160;</h6>
            
						<p itemscope itemtype="http://schema.org/Organization">
							<span itemprop="employees" itemscope itemtype="http://schema.org/Person">
								<strong>Mrs <span itemprop="name">Markéta Musiolova</span></strong><br/>
								<span itemprop="jobTitle">Director preschool</span><br/>
								<a href="mailto:marketa.musiolova@ischool.cz" itemprop="email">marketa.musiolova@ischool.cz</a><br/>
							</span><br/>
							<span itemprop="name">Česko Britská Mezinárodní škola<br/>
							a Mateřská škola s.r.o.</span><br/>
							<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								<span itemprop="streetAddress">Rooseveltova 101</span><br/>
								<span itemprop="addressLocality">Olomouc</span><br/>
								<span itemprop="postalCode">779 00</span><br/>
								<span itemprop="addressCountry">Czech Republic</span><br/>
							</span>
				            <br/>
							tel. <span itemprop="telephone">+420 585 754 881</span><br/>
							mob. <span itemprop="telephone">+420 605 966 401</span>
						</p>
					</div><!-- .column -->
					
				</div><!-- .fold -->
				
				<div class="fold">
					
					<h6>Map</h6><br/>
					<iframe width="720" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=rooseveltova+101,+olomouc&amp;sll=37.0625,-95.677068&amp;sspn=68.596606,128.759766&amp;ie=UTF8&amp;hq=&amp;hnear=Rooseveltova+109%2F101,+779+00+Olomouc-Nov%C3%A9+Sady,+Czech+Republic&amp;ll=49.584786,17.260895&amp;spn=0.013355,0.061712&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=rooseveltova+101,+olomouc&amp;sll=37.0625,-95.677068&amp;sspn=68.596606,128.759766&amp;ie=UTF8&amp;hq=&amp;hnear=Rooseveltova+109%2F101,+779+00+Olomouc-Nov%C3%A9+Sady,+Czech+Republic&amp;ll=49.584786,17.260895&amp;spn=0.013355,0.061712&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
					
				</div><!-- .fold -->
				
