<div class="toprow">
    
    <div class="column">
        <h1 class="nospacing">Student council</h1>
        <h5><br/>Student Council in our school is a fully-fledged, independent and convenient institution. It consists of six students voted by their peers where each class is represented by one student.</h5>
    </div><!-- .column -->
    
    <div class="column">
        
    </div><!-- .column -->
    
</div><!-- .toprow -->

<div class="fold">

    <p>This very concrete initiative is aimed at supporting the social development of all children at school. It is a part of the school mission to help children become responsible citizens and learn how to take part in the democratic decision making process.</p> 

    <p>The role of Student Council in our school is to: </p>

    <ul>
        <li>Improve communication between students, teachers and Director</li>
        <li>Encourage respect and friendship among students</li>
        <li>Support and help the staff in the developing of the school</li>
        <li>Participate in actual events and topics of the school</li>
        <li>Represents students’ opinions and ideas</li>
    </ul>

    <p>Our Student Council is an active institution and meets every month.</p> 
    
</div><!-- .fold -->

<div class="fold">
    <div class="column">
        <h6>&nbsp;</h6>
        <p>&nbsp;</p>
    </div><!-- .column -->
    
    <div class="column">
        <h6>&nbsp;</h6>
        <p>&nbsp;</p>
    </div><!-- .column -->
</div><!-- .fold -->