<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - domácí stránka</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link type="text/css" href="css/cupertino/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
		<script type="text/javascript" src="js/polaroid.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<%= erb(:analytics, :layout => false) %>
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/domu"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a class="active" href="/domu">domů</a></li>
					<li><a href="skolka">školka</a></li>
					<li><a href="skola">škola</a></li>
					<li><a href="ucitele">učitelé</a></li>
					<li><a href="kontakt">kontakt</a></li>
					<li><a href="novinky">novinky</a></li>
					<li><a href="galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
				<div class="toprow homepage">
					
					<div class="column">
						<h3 class="nospacing">Škola může být</h3>
						<h1 class="nospacing">zábavná &amp; užitečná</h1>
						<h3 class="nospacing">zároveň</h3>
						<h4><br/>Vaše děti získají mezinárodně uznávané vzdělání, vyučované v angličtině</h4>
					</div><!-- .column -->
					
					<div class="column">
						
						<div id="preschool_meta">
							<h3>Školka</h3>
							<p>pro děti<br/>
							od 3 do 6 let</p><br/>
							<a href="/skolka">více informací&hellip;</a>
						</div><!-- #preschool_meta -->
						
						<div id="juniorschool_meta">
							<h3>Škola</h3>
							<p>pro děti<br/>
							od 6 do 11 let</p><br/>
							<a href="/skola">více informací&hellip;</a>
						</div><!-- #juniorschool_meta -->
						
					</div><!-- .column -->
					
				</div><!-- .toprow -->
				
				<div class="fold">
					
					<div class="column">
						<h6>Kdo jsme</h6>

						<p>Malá rozvíjející se soukromá <strong>mateřská a základní škola</strong> rodinného typu, která nabízí mezinárodní vzdělávací program <strong>v anglickém jazyce</strong> zaměřený na <strong>rozvoj mezinárodního povědomí</strong>.</p>

						<p>Jako mezinárodní škola dodržujeme specifické standardy, které regulují vzdělávací program školy a určují jeho obsah. Školní vzdělávací program vychází z programu <strong>International Primary Curriculum</strong> a <strong>programu Cambridge Primary</strong>, který má své kořeny v <strong>Národním vzdělávacím programu Anglie</strong>, a který byl <strong>specificky upraven</strong> pro podmínky vzdělávání v mezinárodním kontextu.</p>

					</div><!-- .column -->
					
					<div class="column">
						<h6>Několik obrázků z naší školy</h6>
            
            <!--<img id="homepage_photos" src="images/photos_temp.png" width="456" height="328" alt="Photos Temp">-->
						<div class="pics_wrapper">
					  </div><!-- .pics_wrapper -->
						
					</div><!-- .column -->
					
				</div><!-- .fold -->
				
				<div class="fold">
					<div class="column">
						<h6>Mezinárodní kredit</h6>
						
						<p>Jsme členem organizace <strong>International Primary Curriculum</strong> a registrovaným <strong>Cambridge International Centre</strong> zaštiťující certifikované a mezinárodně uznávané výstupy vzdělání na prvním stupni základní školy.</p> 
						
						<p>Základní škola provozuje svou činnost na základě <strong>povolení MŠMT</strong> o plnění povinné školní docházky v České republice. Mateřská škola je <strong>zapsána v rejstříku škol</strong> a školských zařízení.</p>

					</div><!-- .column -->
					
					<div class="column">
						<h6>&nbsp;</h6>
						<p><img src="/images/logos_credentials.png" width="280" height="172" alt="Logos Credentials"></p>	
					</div><!-- .column -->
					
				</div><!-- .fold -->
				
			</div><!-- #body -->
			<div id="footer">
				Design a vývoj webu Josef Richter <a href="http://www.josefrichter.com">www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		
	</body>
	
</html>