				<div class="toprow homepage">
					
					<div class="column">
						<h1 class="nospacing">„Anglická“ školka<br />a škola v Olomouci</h1>
						<h2><br/>Jsme mateřská školka a základní škola s&nbsp;výukou výhradně v angličtině.<br /><br />Učíme dle kombinovaných britských<br />a českých standardů.</h2>
					</div><!-- .column -->
					
					<div class="column">
						
						<div id="preschool_meta">
							<h3>Školka</h3>
							<p>pro děti<br/>
							od 3 do 6 let</p><br/>
							<a href="/skolka">více informací&hellip;</a>
						</div><!-- #preschool_meta -->
						
						<div id="juniorschool_meta">
							<h3>Škola</h3>
							<p>pro děti<br/>
							od 6 do 11 let</p><br/>
							<a href="/skola">více informací&hellip;</a>
						</div><!-- #juniorschool_meta -->
						
					</div><!-- .column -->
					
				</div><!-- .toprow -->
				
				<div class="fold">
					
					<div class="column">
						<h6>Kdo jsme</h6>

						<p>Malá rozvíjející se soukromá <strong>mateřská školka a základní škola</strong> rodinného typu se sídlem v Olomouci, která nabízí mezinárodní vzdělávací program <strong>v&nbsp;anglickém jazyce</strong> zaměřený na <strong>rozvoj mezinárodního povědomí</strong>.</p>

						<p>Jako mezinárodní škola dodržujeme specifické standardy, které regulují vzdělávací program školy a&nbsp;určují jeho obsah. Školní vzdělávací program vychází z&nbsp;programu <strong>International Primary Curriculum</strong> a&nbsp;<strong>programu Cambridge Primary</strong>, který má své kořeny v&nbsp;<strong>Národním vzdělávacím programu Anglie</strong>, a&nbsp;který byl <strong>specificky upraven</strong> pro podmínky vzdělávání v mezinárodním kontextu.</p>

					</div><!-- .column -->
					
					<div class="column">
						<h6>Několik obrázků z naší školy</h6>
            
            <!--<img id="homepage_photos" src="images/photos_temp.png" width="456" height="328" alt="Photos Temp">-->
						<div class="pics_wrapper">
					  </div><!-- .pics_wrapper -->
						
					</div><!-- .column -->
					
				</div><!-- .fold -->
				
				<div class="fold">
					<div class="column">
						<h6>Mezinárodní kredit</h6>
						
						<p>Jsme členem organizace <strong>International Primary Curriculum</strong> a registrovaným <strong>Cambridge International Centre</strong> zaštiťující certifikované a mezinárodně uznávané výstupy vzdělání na prvním stupni základní školy.</p> 
						
						<p>Základní škola provozuje svou činnost na základě <strong>povolení MŠMT</strong> o plnění povinné školní docházky v České republice. Mateřská škola je <strong>zapsána v rejstříku škol</strong> a školských zařízení.</p>

					</div><!-- .column -->
					
					<div class="column">
						<h6>&nbsp;</h6>
						<!-- <p><img src="/images/logos_credentials.png" width="280" height="172" alt="Logos Credentials"></p> -->
						<p>
							<img src="/images/cie_logo_280.png" width="280" height="65" alt="Cie Logo 280"><br/>
							<img src="/images/logos_ipc.png" width="280" height="101" alt="Logos Ipc">
						</p>	
					</div><!-- .column -->
					
				</div><!-- .fold -->
				
