<link type="text/css" href="css/cupertino/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="js/polaroid.js"></script>
<script type="text/javascript" src="js/index.js"></script>

				<div class="toprow homepage">
					
					<div class="column">
						<h1 class="nospacing">Anglická školka <br />a škola v Olomouci</h1>
						<h2><br/>Jsme mateřská školka a základní škola s&nbsp;výukou výhradně v angličtině.<br /><br />Učíme dle kombinovaných britských<br />a českých standardů.</h2>
					</div><!-- .column -->
					
					<div class="column">
						
						<div id="preschool_meta">
							<h3>Školka</h3>
							<p>pro děti<br/>
							od 3 do 6 let</p><br/>
							<a href="/skolka">více informací&hellip;</a>
						</div><!-- #preschool_meta -->
						
						<div id="juniorschool_meta">
							<h3>Škola</h3>
							<p>pro děti<br/>
							od 6 do 11 let</p><br/>
							<a href="/skola">více informací&hellip;</a>
						</div><!-- #juniorschool_meta -->
						
					</div><!-- .column -->
					
				</div><!-- .toprow -->
				
				<div class="fold">
					
					<div class="column">
						<h6>Kdo jsme</h6>
						
						<p>Jsme soukromá mezinárodní škola a školka rodinného typu, která nabízí <b>mezinárodní vzdělávací program v anglickém jazyce</b> <!--českým a zahraničním dětem a žákům--> s důrazem na rozvoj mezinárodního povědomí.</p>
            <p>Jako mezinárodní škola dodržujeme specifické standardy, které regulují vzdělávací program školy a určují jeho obsah. Naše mise je <bn>pomáhat dětem učit se lépe</bn> a poskytovat jim bohatý a vyvážený vzdělávací program<!-- a především příjemnou zkušennost, na kterou budou vzpomínat s radostí-->.</p>
            <p>Škola je členem organizace <b>COBIS (Council of British International Schools)</b> a registrovanou <b>Cambridge International School</b> nabízející mezinárodně uznávaný program a výstupy. Jsme také členem <b>IPC (International Primary Curriculum)</b>,  moderního vzdělávacího programu<!-- pro 21. století, který velmi dobře rozvíjí praktické dovednosti a podnětným způsobem formuje také životní postoje a názory žáků-->.</p>

					</div><!-- .column -->
					
					<div class="column">
						<h6>Několik obrázků z naší školy</h6>
            
            <!--<img id="homepage_photos" src="images/photos_temp.png" width="456" height="328" alt="Photos Temp">-->
						<div class="pics_wrapper">
					  </div><!-- .pics_wrapper -->
						
					</div><!-- .column -->
					
				</div><!-- .fold -->
				
				<div class="fold">
					<div class="column">
						<p>
							<img src="/images/cobis_logo.png" width="260" alt="Cobis Logo"><br/><br />
							<img src="/images/cie_logo_2012.png" width="234" height="65" alt="Cie Logo"><br/>
							<img src="/images/logos_ipc.png" width="260" alt="Logos Ipc">
						</p>	
					</div><!-- .column -->
					<div class="column">
						<h6>Poslední novinky</h6>
						<table class="archive">
						<% posts.each do |post| %>
							<tr>
								<td><%= post.created_at.strftime("%d&nbsp;%b&nbsp;%Y") %></td>
								<td><a href="<%= post.url %>"><%= post.title %></a></td>
							</tr>
						<% end %>
							<tr><td></td><td><a href="/novinky">Předchozí novinky</a></td></tr>
						</table>

					</div><!-- .column -->
				</div><!-- .fold -->
				
