			
					<div id="news">
            <h1>International School Olomouc is opening new nursery class this year</h1>
            <br/>
            <p>It is no secret that not only in Olomouc but also in the rest of the country the demand for nursery places is much higher than the actual number of places available for nursery children. In this situation, the International School Olomouc is coming up with a new project for extending its nursery provision, which will result in opening of a new classroom for 15 children and 2 or 3 job vacancies for teachers within the first half of the school year 2011/2012.</p>

            <p>The International School Olomouc provides all the teaching and instruction exclusively in English. The school is a place where children from various backgrounds and cultures meet in the classroom, and are led to perceive the world in a broad international context. The teaching is based on British international standards, and is accredited by the Czech Ministry of Education, and so provides education according to the Czech norms.</p>

            <p>After completing nursery education the children can then continue studying at the primary section of the school. The teaching there is also done in English and in accordance with the combined Czech and British international standards. At the end of primary students can conclude their education by obtaining the prestigious and internationally recognized Cambridge Primary qualifications.</p>

            <p>The project of extending the number of places of the nursery school is going to involve legal preparation and registration, purchase of new resources, equipment and staff recruitment and training. Development of the International School Olomouc is also linked to further economic development and growth in the region. The project is part of the City of Olomouc Integrated Development Plan named ‘Attractive and Competitive Olomouc’ and it is co-financed by the European Social Fund and the state budget of the Czech Republic.</p>

            <p>International School Olomouc is a private nursery and primary school providing international style of education in English for children from 3 up to 11 years old. The number of children currently attending the school is 37 (8 various nationalities including the Czech one).</p>

						<p>International School Olomouc is also the first Cambridge School in Moravia.</p>

            <p>Other information on the educational possibilities of children in the English language in Olomouc is available on the website www.ischool.cz, or possibly contact Mr Petr Pospisil, Director on:</p>

						<div class="images">
							 <a href="/images/viz_1.jpg"><img src="/images/thumb_viz_1.jpg" width="133" height="100" alt="Thumb Viz 1"></a>
							 <a href="/images/viz_2.jpg"><img src="/images/thumb_viz_2.jpg" width="166" height="100" alt="Thumb Viz 2"></a>
						</div>
 
            <p>International School Olomouc<br/>
            Rooseveltova 101<br/>
            779 00 Olomouc<br/>
            tel.: +420 585 754 880<br/>
            GSM: +420 604 115 982<br/>
            e-mail: <a href="mailto:petr.pospisil@ischool.cz?subject=Expanding preschool">petr.pospisil@ischool.cz</a></p>
            
						<br/>
						<br/>
						<img src="/images/EU_logos.jpg" width="660" height="67" alt="EU Logos">
						
					</div><!-- #news -->
