<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Galerie</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<link type="text/css" href="css/cupertino/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
		<script type="text/javascript" src="js/polaroid.js"></script>
		<script type="text/javascript" src="js/gallery.js"></script>
		
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/gallery">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/domu"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/domu">domů</a></li>
					<li><a href="skolka">školka</a></li>
					<li><a href="skola">škola</a></li>
					<li><a href="ucitele">učitelé</a></li>
					<li><a href="kontakt">kontakt</a></li>
					<li><a href="novinky">novinky</a></li>
					<li><a  class="active" href="galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
						
						<div class="gallery_heading">
							<h1 class="nospacing">Galerie</h1>
							<br/>
						</div><!-- .intro -->
						
			</div><!-- #body -->
			
		</div><!-- #wrapper -->
		
	</body>
	
</html>