
<link type="text/css" href="css/cupertino/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="js/polaroid.js"></script>
<script type="text/javascript" src="js/gallery.js"></script>

		
		<div class="gallery_heading">
			<h1 class="nospacing">Gallery</h1>
			<br/>
		</div><!-- .gallery_heading -->

<div class="more_photos"><a href="http://www.flickr.com/photos/53456090@N02/sets" target="_blank">More photos</a></div>
		
