<h1>HomeLog</h1>

<form action="https://aplikace.skolaonline.cz/SOL/Prihlaseni.aspx" method="get" accept-charset="utf-8">
  <table id="login">
    <tr>
      <td><label for="">Login name </label></td>
      <td><input type="text" name="JmenoUzivatele" value="" id="JmenoUzivatele"></td>
    </tr>
    <tr>
      <td><label for="">Password </label></td>
      <td><input type="password" name="HesloUzivatele" value="" id="HesloUzivatele"></td>
    </tr>
    <tr>
      <td></td>
      <td><input id="login_btn" type="submit" value="Login &rarr;"></td>
    </tr>
  </table>
</form>