
<link type="text/css" href="css/cupertino/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="js/polaroid.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<div class="toprow homepage">
	
	<div class="column">
		<h1 class="nospacing">English preschool<br />and primary school</h1>
		<h2><br/>We are an international school<br />located in Olomouc, Czech Republic<br />and provide education solely in English</h2>
	</div><!-- .column -->
	
	<div class="column">
		
		<div id="preschool_meta">
			<h3>Preschool<br/>&nbsp;</h3>
			<p>for children<br/>
			aged 3 to 6</p><br/>
			<a href="/preschool">more info&hellip;</a>
		</div><!-- #preschool_meta -->
		
		<div id="juniorschool_meta">
			<h3>Primary<br/>school</h3>
			<p>for children<br/>
			aged 6 to 11</p><br/>
			<a href="primary-school">more info&hellip;</a>
		</div><!-- #juniorschool_meta -->
		
	</div><!-- .column -->
	
</div><!-- .toprow -->

<div class="fold">
	
	<div class="column">
		<h6>About us</h6>

		<p>We are a small but growing <span class="strong">family-like private preschool and primary school</span> offering an international style <span class="strong">education in English</span> with a particular emphasis on the development of international mindedness.</p>

		<p>As an international school we follow specific standards that regulate our program and determine our curriculum. We are a full member of the <span class="strong">International Primary Curriculum</span> organization and a registered <span class="strong">Cambridge International Centre</span> offering internationally recognized primary qualifications.</p>

		<p>The primary school is approved by the <span class="strong">Czech Ministry of Education</span> as provider of compulsory school education in the Czech Republic. Preschool is registered in the <span class="strong">Czech School Register</span>.</p>
	</div><!-- .column -->
	
	<div class="column">
		<h6>Some views from our school</h6>
        
        <!--<img id="homepage_photos" src="images/photos_temp.png" width="456" height="328" alt="Photos Temp">-->
		<div class="pics_wrapper">
	  </div><!-- .pics_wrapper -->
		
	</div><!-- .column -->
	
</div><!-- .fold -->

<div class="fold">
	<div class="column">
		<h6>&nbsp;</h6>
		<p>
			<!-- <img src="/images/cie_logo_280.png" width="280" height="65" alt="Cie Logo 280"><br/> -->
			<img src="/images/cie_logo_2012.png" width="234" height="65" alt="Cie Logo"><br/>
			<img src="/images/logos_ipc.png" width="280" height="101" alt="Logos Ipc">
		</p>	
	</div><!-- .column -->
	
	<div class="column">
		<h6>Latest news</h6>

		<table class="archive">
		<% posts.each do |post| %>
			<tr>
				<td><%= post.created_at.strftime("%d&nbsp;%b&nbsp;%Y") %></td>
				<td><a href="<%= post.url %>"><%= post.title %></a></td>
			</tr>
		<% end %>
			<tr><td></td><td><a href="/news">Previous news</a></td></tr>
		</table>
		
	</div><!-- .column -->
</div><!-- .fold -->

