				
				<div class="toprow">
					
					<div class="intro">
						<h1 class="nospacing">Kontaktujte nás</h1>
						<h3 class="nospacing">spojte se s námi,<br/>nebojte se zeptat!</h3>
						<h5><br/>Rádi odpovíme na Vaše otázky,<br/>stejně jako rádi vyslechneme jakékoliv Vaše komentáře.</h5>
					</div><!-- .intro -->
					
				</div><!-- .toprow -->
				
				<div class="fold threecols">
					
					<div class="column">
						<h6>Odešlete nám otázku nebo komentář</h6>

						<form action="contact_submit" method="post" accept-charset="utf-8">
							<input class="text" type="text" name="contact" value="your email address" alt="Vaše emailová adresa" id="contact">
							<textarea class="text" name="body" rows="8" cols="40" alt="Vaše otázka nebo zpráva"></textarea>

							<p><input type="submit" value="Odeslat!"></p>
						</form>
						
						<% if (status==true) %><h6>Email úspěšně odeslán. Děkujeme!</h6><% end %>
						
					</div><!-- .column -->
					
					<div class="column smaller">
						<h6>Kontaktní údaje</h6>
            
						<p itemscope itemtype="http://schema.org/Organization">
							<span itemprop="employees" itemscope itemtype="http://schema.org/Person">
								<strong><span itemprop="name">Petr Pospíšil</span></strong><br/>
								<span itemprop="jobTitle">jednatel</span><br/>
								<a href="mailto:petr.pospisil@ischool.cz" itemprop="email">petr.pospisil@ischool.cz</a><br/>
							</span><br/>
							<span itemprop="name">Česko Britská Mezinárodní škola<br/>
							a Mateřská škola s.r.o.</span><br/>
							<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								<span itemprop="streetAddress">Rooseveltova 101</span><br/>
								<span itemprop="addressLocality">Olomouc</span><br/>
								<span itemprop="postalCode">779 00</span><br/>
							</span>
				            <br/>
							tel. <span itemprop="telephone">+420 585 754 880</span><br/>
							mob. <span itemprop="telephone">+420 604 115 982</span><br/>
							<a href="mailto:info@ischool.cz" itemprop="email">info@ischool.cz</a>
						</p>
					</div><!-- .column -->
					
					<div class="column smaller">
						<h6>&#160;</h6>
            
						<p itemscope itemtype="http://schema.org/Organization">
							<span itemprop="employees" itemscope itemtype="http://schema.org/Person">
								<strong><span itemprop="name">Markéta Musiolová</span></strong><br/>
								<span itemprop="jobTitle">jednatelka</span><br/>
								<a href="mailto:marketa.musiolova@ischool.cz" itemprop="email">marketa.musiolova@ischool.cz</a><br/>
							</span><br/>
							<span itemprop="name">Česko Britská Mezinárodní škola<br/>
							a Mateřská škola s.r.o.</span><br/>
							<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								<span itemprop="streetAddress">Rooseveltova 101</span><br/>
								<span itemprop="addressLocality">Olomouc</span><br/>
								<span itemprop="postalCode">779 00</span><br/>
							</span>
				            <br/>
							tel. <span itemprop="telephone">+420 585 754 881</span><br/>
							mob. <span itemprop="telephone">+420 605 966 401</span>
						</p>
					</div><!-- .column -->
					
				</div><!-- .fold -->
				
				<div class="fold">
					
					<h6>Mapa</h6><br/>
					<iframe width="720" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=cs&amp;geocode=&amp;q=Rooseveltova+101,+Olomouc,+%C4%8Cesk%C3%A1+republika&amp;sll=37.0625,-95.677068&amp;sspn=62.829818,167.080078&amp;ie=UTF8&amp;hq=&amp;hnear=Rooseveltova+109%2F101,+779+00+Olomouc-Nov%C3%A9+Sady,+%C4%8Cesk%C3%A1+republika&amp;ll=49.584841,17.260981&amp;spn=0.013355,0.061712&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=cs&amp;geocode=&amp;q=Rooseveltova+101,+Olomouc,+%C4%8Cesk%C3%A1+republika&amp;sll=37.0625,-95.677068&amp;sspn=62.829818,167.080078&amp;ie=UTF8&amp;hq=&amp;hnear=Rooseveltova+109%2F101,+779+00+Olomouc-Nov%C3%A9+Sady,+%C4%8Cesk%C3%A1+republika&amp;ll=49.584841,17.260981&amp;spn=0.013355,0.061712&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Zvětšit mapu</a></small>
					
				</div><!-- .fold -->
