<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Kontakt</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		
		<script type="text/javascript">
		      $(document).ready(function(){

		        // set all input.text default value according to alt attribute
		        $("input.text, textarea").each(function(){
		          $(this).val($(this).attr("alt"));
		        });

		        // clear input.text on focus, if still in default
		        $("input.text, textarea").focus(function() {

		          if($(this).val()==$(this).attr("alt")) {
		            $(this).val("");
		          }
		        });

		        // if field is empty afterward, add text again
		        $("input.text, textarea").blur(function() {
		          if($(this).val()=="") {
		            $(this).val($(this).attr("alt"));
		          }
		        });

		      });

		</script>
		
		
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/contact">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/domu"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/domu">domů</a></li>
					<li><a href="skolka">školka</a></li>
					<li><a href="skola">škola</a></li>
					<li><a href="ucitele">učitelé</a></li>
					<li><a class="active" href="kontakt">kontakt</a></li>
					<li><a href="novinky">novinky</a></li>
					<li><a href="galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
				<div class="toprow">
					
					<div class="intro">
						<h1 class="nospacing">Kontaktujte nás</h1>
						<h3 class="nospacing">spojte se s námi,<br/>nebojte se zeptat!</h3>
						<h5><br/>Rádi odpovíme na Vaše otázky,<br/>stejně jako rádi vyslechneme jakékoliv Vaše komentáře.</h5>
					</div><!-- .intro -->
					
				</div><!-- .toprow -->
				
				<div class="fold">
					
					<div class="column">
						<h6>Odešlete nám otázku nebo komentář</h6>

						<form action="contact_submit" method="post" accept-charset="utf-8">
							<input class="text" type="text" name="contact" value="your email address" alt="Vaše emailová adresa" id="contact">
							<textarea class="text" name="body" rows="8" cols="40" alt="Vaše otázka nebo zpráva"></textarea>

							<p><input type="submit" value="Odeslat!"></p>
						</form>
						
						<% if (status==true) %><h6>Email úspěšně odeslán. Děkujeme!</h6><% end %>
						
					</div><!-- .column -->
					
					<div class="column">
						<h6>Kontaktní údaje</h6>
            
						<p>
							Česko Britská Mezinárodní škola<br/> 
							a Mateřská škola s.r.o.<br/>
							Rooseveltova 101<br/>
							Olomouc<br/>
							779 00<br/>
              <br/>
							tel. +420 602 123 456<br/>
							fax. +420 603 123 456<br/>
							<a href="#">info@ischool.cz</a><br/>
              <br/>
							Petr Pospíšil, jednatel<br/>
							tel. +420 789 456 123<br/>
							<a href="#">petr.pospisil@ischool.cz</a><br/>
						</p>
					</div><!-- .column -->
					
				</div><!-- .fold -->
				
				<div class="fold">
					
					<h6>Mapa</h6><br/>
					<iframe width="720" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=cs&amp;geocode=&amp;q=Rooseveltova+101,+Olomouc,+%C4%8Cesk%C3%A1+republika&amp;sll=37.0625,-95.677068&amp;sspn=62.829818,167.080078&amp;ie=UTF8&amp;hq=&amp;hnear=Rooseveltova+109%2F101,+779+00+Olomouc-Nov%C3%A9+Sady,+%C4%8Cesk%C3%A1+republika&amp;ll=49.584841,17.260981&amp;spn=0.013355,0.061712&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=cs&amp;geocode=&amp;q=Rooseveltova+101,+Olomouc,+%C4%8Cesk%C3%A1+republika&amp;sll=37.0625,-95.677068&amp;sspn=62.829818,167.080078&amp;ie=UTF8&amp;hq=&amp;hnear=Rooseveltova+109%2F101,+779+00+Olomouc-Nov%C3%A9+Sady,+%C4%8Cesk%C3%A1+republika&amp;ll=49.584841,17.260981&amp;spn=0.013355,0.061712&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Zvětšit mapu</a></small>
					
				</div><!-- .fold -->
				
			</div><!-- #body -->
			
		</div><!-- #wrapper -->
		
	</body>
	
</html>