<link type="text/css" href="css/cupertino/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="js/polaroid.js"></script>
<script type="text/javascript" src="js/newbuilding.js"></script>				



<div class="preschool_intro">
	<h1 class="nospacing">New Preschool Building</h1>
	<h5><br/>We have opened a new low-energy preschool building. Take a look at some photos!<br />Do not hesitate to contact us if you want to come and see the interior in person. Your are very welcome!</h5>
</div><!-- .intro -->

<div class="pics_wrapper newbuilding">
</div><!-- .pics_wrapper --> 
	
