<link type="text/css" href="css/cupertino/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="js/polaroid.js"></script>
<script type="text/javascript" src="js/newbuilding.js"></script>				



<div class="preschool_intro">
	<h1 class="nospacing">Nová budova školky</h1>
	<h5><br/>Otevřeli jsme novou nízkoenergetickou budovu mateřské školky. Prohlédněte si fotografie!<br />Neváhejte nás kontaktovat, pokud si chcete prohhlédnout budovu zevnitř. Jste vítáni!</h5>
</div><!-- .intro -->

<div class="pics_wrapper newbuilding">
</div><!-- .pics_wrapper --> 
	
