<div class="toprow">
    
    <div class="column">
        <h1 class="nospacing">Žákovský parlament</h1>
        <h5><br/>Žákovský parlament International School Olomouc je plně funkční, nezávislou a&nbsp;smysluplnou institucí. Skládá se ze šesti volených členů, přičemž každou třídu reprezentuje jeden zástupce.</h5>
    </div><!-- .column -->
    
    <div class="column">
        
    </div><!-- .column -->
    
</div><!-- .toprow -->

<div class="fold">

    <p>Způsob, jakým  Žákovský parlament funguje, je totožný s demokratickými procesy rozhodování, které jsou běžné<br/>i v „dospělé“ společnosti. Cílem je mimo jiné přispět k sociálnímu rozvoji žáků.</p> 

    <p>Hlavními úkoly Žákovského parlamentu jsou:</p>

    <ul>
        <li>Průběžně pracovat na zlepšování komunikace mezi studenty, učiteli a ředitelem,</li>
        <li>podpořit u studentů respekt, přátelství a komunikační dovednosti,</li>
        <li>pomoc při rozvoji školy,</li>
        <li>aktivní účast a příprava společných aktivit,</li>
        <li>reprezentace názorů, návrhů a nápadů studentů.</li>
    </ul>

    <p>Žákovská parlament je velmi aktivní instituce. Pravidelná setkání se konají každý měsíc.</p> 
    
</div><!-- .fold -->

<div class="fold">
    <div class="column">
        <h6>&nbsp;</h6>
        <p>&nbsp;</p>
    </div><!-- .column -->
    
    <div class="column">
        <h6>&nbsp;</h6>
        <p>&nbsp;</p>
    </div><!-- .column -->
</div><!-- .fold -->