<div id="news">
	<div class="post">

		<h6><%= post[:title] %><span class="meta"> - <%= post[:created_at].strftime("%d %b %Y") %></span></h6>

		<div class="entry">
			<%= post.body_html %>
		</div>
		
		<div class="controls">
			<a href="/news">&laquo; back to all news</a>
			<% if admin? %>
				 - <a href="<%= post.url %>edit">edit this post</a>
			<% end %>
		</div>
		
	</div>
</div>
