<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Preschool</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	</head>
	
	<body>
	                
		<div id="wrapper"> 
			
			<div id="language">
				<a href="/skolka">&raquo; česky</a>
			</div><!-- #language -->
			
			<div id="header">
				<img id="logo" src="images/logo.png" width="150" height="58" alt="Logo">
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/">homepage</a></li>
					<li><a class="active" href="preschool">preschool</a></li>
					<li><a href="junior-school">junior school</a></li>
					<li><a href="staff">staff</a></li>
					<li><a href="contact">contact</a></li>
					<li><a href="news">news</a></li>
					<li><a href="gallery">gallery</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
					<div class="column">
						
						<div class="preschool_intro">
							<h1 class="nospacing">Prechool</h1>
							<h3 class="nospacing">for children aged 3 to 6</h3>
							<h5><br/>We offer sound early years education that emphasizes 'holistic' approach. As an international school we promote, in a positive and creative way, adoption of appropriate values and key competencies together with the necessary knowledge, skills and understanding for children to take on the challenges of the modern globalizing world.</h5>
						</div><!-- .intro -->
						
						
						<h6>The curriculum</h6>
						
						<p>The curriculum as well as the environment creates rich opportunities for children to <strong>develop their international mindedness</strong> in accordance with their overall development. In the Preschool the main language of instruction is English; however, we also provide separate activities focused on the development of Czech as mother tongue.</p>
						
						<p>The children in nursery and reception classrooms <strong>learn through theme based units</strong> that consist of various learning experiences and opportunities with a good balance of structured play, adult-initiated and child-initiated activities. <strong>Each theme is well structured</strong> as well as flexible enough to adjust to the needs and interest of each individual child to enable children of a young age develop at different rates and in different ways. <strong>Play</strong> is also regarded as an essential part of children’s learning.</p>
						
						<p>By providing children with <strong>'real' learning contexts</strong> they are developing knowledge, skills and understanding in areas of social, personal and emotional development, language and communication, mathematical development, knowledge and understanding of the world, creative and physical development. At the <strong>age of&nbsp;4</strong> children are developing skills needed later on for <strong>reading and writing</strong> using the Jolly Phonic, Nelson English and the Oxford Reading Tree materials.</p>
						
						
												
					</div><!-- .column -->
					
					<div class="column">
						
						<h1>&nbsp;</h1>
						
						<div id="preschool_spacer">&nbsp;</div>
						
						<h6>Daily schedule</h6>
						
						<p>Our preschool consists of one joint nursery (3 to 4 years old) and reception (4 to 5 years old) classrooms. The main program <strong>starts at 8:45 and finishes at 14:30</strong>. In addition, children can attend the <strong>Breakfast and Afternoon Club</strong> (7:30 to 8:45 and 14:30 to 16:30). In the afternoon, children can also take part in the <strong>extra-curricular activities</strong> such as the aerobic or music classes.</p>
						
						<p>During the day all children are offered various enjoyable learning activities to enhance different areas of their development that take place in the classroom, at the outdoor play area or in the gym. We strongly promote the <strong>individual approach to each child</strong> therefore the <strong>staff/children ratio is 3/15</strong> for the most of the day. We also organise <strong>swimming and skiing lessons</strong> as a part of the main program.</p>
						
						
					</div><!-- .column -->
				
			</div><!-- #body -->
			
		</div><!-- #wrapper -->
		
	</body>
	
</html>