
<div class="column">
	
	<div class="preschool_intro">
		<h1 class="nospacing">Preschool</h1>
		<h3 class="nospacing">for children aged 2.5 to 6</h3>
		<h5><br/>We offer sound early years education that emphasizes 'holistic' approach. We also promote, in a positive and creative way, adoption of appropriate values and key competencies together with the necessary knowledge, skills and understanding for children to take on the challenges of the modern globalizing world.</h5>
	</div><!-- .intro -->
	
	
	<h6>The curriculum</h6>
	
	<p>The curriculum as well as the environment creates rich opportunities for children to <span class="strong">develop their international mindedness</span> in accordance with their overall development. In the Preschool the main language of instruction is English.</p>
	
	<p>The children in nursery and reception classrooms <span class="strong">learn through theme based units</span> that consist of various learning experiences and opportunities with a good balance of structured play, adult-initiated and child-initiated activities. <span class="strong">Each theme is well structured</span> as well as flexible enough to adjust to the needs and interest of each individual child to enable children of a young age develop at different rates and in different ways. <span class="strong">Play</span> is also regarded as an essential part of children’s learning.</p>
	
	<p>By providing children with <span class="strong">'real' learning contexts</span> they are developing knowledge, skills and understanding in areas of social, personal and emotional development, language and communication, mathematical development, knowledge and understanding of the world, creative and physical development. At the <span class="strong">age of&nbsp;4</span> children are developing skills needed later on for <span class="strong">reading and writing</span> using the Jolly Phonic, Nelson English and the Oxford Reading Tree materials.</p>
	
	
							
</div><!-- .column -->

<div class="column">
	
	<h1>&nbsp;</h1>
	
	<div id="preschool_spacer">&nbsp;</div>
	
	<h6>Daily schedule</h6>
	
	<p>Our preschool consists of two classrooms nursery (2,5 to 4 years old) and reception (4 to 5,5 years old). The Preschool runs from 7:30 till 16:30. In the afternoon, children can also take part in the <strong>extra-curricular activities</strong> such as the aerobic or recorder classes.</p>
	
	
</div><!-- .column -->

