<div class="column">
	
	<div class="intro">
		<h1 class="nospacing">Primary school</h1>
		<h3 class="nospacing">for children aged 6 to 11</h3>
		<h5><br/>It is nothing new to say that today we live in 
		a global world and so our daily pursuits aim at helping children to become successful, active and responsible citizens of the world.</h5>
	</div><!-- .intro -->
	
	<h6>What and how we teach</h6>
	
	<p>Our broad and balanced curriculum <strong>develops children academically</strong> in all subjects of primary curriculum and it also focuses on every child’s <strong>personal and social development</strong> as well as the development of their <strong>international minds</strong>.</p>
	
	<p>Most importantly we want to make the initial learning experience for every pupil exciting, fulfilling and something they will remember and <strong>look back at with joy</strong>.</p>
	
	<h6>Junior school life</h6>
	
	<p>There is always a lot going on both inside and outside the classroom. Every school day follows a regular pattern. In the morning hours children learn <strong>English and Math</strong>. For children who are Czech nationals there are also Czech first language classes.</p>
       
	<p>During the second half of the day children learn new knowledge and skills using the IPC. All children are working together in <strong>small mixed ability classes</strong> and learn through carefully planned research and record activities.</p>
	
	<p>The main learning programme finishes usually at 14.00. After that some children stay at school to attend the <strong>after school club</strong> or the different after school activities which usually run from 14.00 to 15.00.</p>
	
</div><!-- .column -->

<div class="column">
	
	<h1>&nbsp;</h1>
	
	<h6>The curriculum</h6>
	
	<p><strong>The International Primary Curriculum, Cambridge Primary Curriculum Framework and the Czech National Curriculum Framework</strong> for primary schools are the starting points on which we build a full and varied international programme at our school.</p>
	
	<p>The pupils not only experience a carefully structured and full curriculum in subjects of English, Czech and Mathematics but also in Science, Geography, History, Art, Music, Technology, ICT, Society and International Mindedness. Learning in these subjects is organized into integrated <strong>cross-curricular IPC Units of Work</strong>. Each unit of work is based on a specific theme and follows a rigorous structure.</p>
	
	<p>Pupils work towards the <strong>Primary Achievement Tests</strong> taken at the end of Milepost 3 (Year 6) and Czech children also work towards regular examinations in Czech in order to maintain a smooth transition between the international and the Czech education systems.</p>
	
	<h6>Admissions</h6>
	
	<p>Prior to offering a place at our school we would judge each child on a broad range of qualities. Our aim is to give places only to those <strong>who we feel would benefit most</strong> from the opportunities we offer. It is also not required from children to have a certain level of English.</p>
	
	<p>If possible we like all potential children to experience <strong>a half day with us</strong>. We may ask pupils wishing to enter Years 3, 4, 5 and 6 to sit <strong>short diagnostic tests</strong> in Maths, English and Developed Ability for setting purposes. The final decision to accept a child lies with the Directors. Generally, we can accommodate <strong>up to 12 pupils</strong> in each of our classrooms (two year groups).</p>
	
</div><!-- .column -->

