<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Primary School</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	</head>
	
	<body>
	                
		<div id="wrapper"> 
			
			<div id="language">
				<a href="/skola">&raquo; česky</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/">homepage</a></li>
					<li><a href="preschool">preschool</a></li>
					<li><a class="active" href="primary-school">primary school</a></li>
					<li><a href="staff">staff</a></li>
					<li><a href="contact">contact</a></li>
					<li><a href="news">news</a></li>
					<li><a href="gallery">gallery</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
					<div class="column">
						
						<div class="intro">
							<h1 class="nospacing">Primary school</h1>
							<h3 class="nospacing">for children aged 6 to 11</h3>
							<h5><br/>It is nothing new to say that today we live in 
							a global world and so our daily pursuits aim at helping children to become successful, active and responsible citizens of the world.</h5>
						</div><!-- .intro -->
						
						<h6>What we teach</h6>
						
						<p>Our broad and balanced <strong>curriculum develops children academically</strong> in all subjects of primary curriculum. Next to subject learning it also focuses on every child’s <strong>personal development</strong> and development of their international minds.</p>

						<p>Last but not least, it is our aim to make the learning experience for every pupil exciting, fulfilling and something they will remember and <strong>look back at with joy</strong>.</p>
						
						<h6>Daily schedule</h6>
						
						<p>There is always a lot going on both inside and outside the classroom. Every school day follows a regular pattern. Children learn <strong>English and Math usually in the mornings</strong>. There are also Czech first language classes for children who are Czech nationals.</p>

						<p>The <strong>second half of the day is devoted to international learning</strong> with the International Primary Curriculum. Children work together in small mixed ability groups on researching and recording activities within integrated cross-curricular IPC Units of Work. Each unit of work is based on a specific theme and follows a rigorous structure.</p>

						<p>The main learning programme finishes usually at 14:00. After that some children stay at school to attend the <strong>after school club</strong> or the different after school activities which usually run from 14:00 to 15:00.</p>
						
					</div><!-- .column -->
					
					<div class="column">
						
						<h1>&nbsp;</h1>
						
						<h6>The curriculum</h6>
						
						<p>Our broad and balanced curriculum supports children’s academic, personal and social development as well as the development of international mindedness.
						The <strong>English National Curriculum, International Primary Curriculum and the Czech National Curriculum Framework</strong> for primary schools are the starting points on which we build a full and varied international programme at our school.</p>
						
						<p>The pupils not only experience a carefully structured and full curriculum in subjects of English, Czech and Mathematics but also in Science, Geography, History, Art, Music, Technology, ICT, Society and International Mindedness. Learning in these subjects is organized into integrated cross-curricular <strong>IPC Units of Work</strong>. These units are based on exiting themes and follow a rigorous structure.</p>
						
						<p>Czech children also work towards <strong>regular examinations in Czech</strong> in order to maintain a smooth transition between the international and the Czech education systems.</p>
						
						<h6>Admission process</h6>
						
						<p>Prior to offering a place at our school we would judge each child on a broad range of qualities. Our aim is to give places only to <strong>those who we feel would benefit most</strong> from the opportunities we offer. It is also not required from children to have a certain level of English.</p>

						<p>If possible, we like all potential children to experience a half day with us. We may ask pupils wishing to enter Years 3, 4, 5 and 6 to sit <strong>short tests in Maths and English</strong> for setting purposes. The final decision to accept a child lies with the Headmaster. Generally, we can accommodate up to <strong>12 pupils in each of our Mileposts</strong> (two year groups).</p>
						
					</div><!-- .column -->
				
			</div><!-- #body -->
			
		</div><!-- #wrapper -->
		
	</body>
	
</html>