<div class="toprow">
    
    <div class="column">
        <h1 class="nospacing">Žákovská rada</h1>
        <h5><br/>Žákovská rada International School Olomouc je plně funkční, nezávislou a&nbsp;smysluplnou institucí. Skládá se ze sedmi volených členů, přičemž každou třídu reprezentuje jeden zástupce.</h5>
    </div><!-- .column -->
    
    <div class="column">
        
    </div><!-- .column -->
    
</div><!-- .toprow -->

<div class="fold">

    <p>Způsob, jakým  Žákovská rada funguje, je totožný s demokratickými procesy rozhodování, které jsou běžné<br/>i v „dospělé“ společnosti. Cílem je mimo jiné přispět k sociálnímu rozvoji žáků.</p> 

    <p>Hlavními úkoly Žákovské rady jsou:</p>

    <ul>
        <li>Průběžně pracovat na zlepšování komunikace mezi studenty, učiteli a ředitelem,</li>
        <li>podpořit u studentů respekt, přátelství a komunikační dovednosti,</li>
        <li>pomoc při rozvoji školy,</li>
        <li>aktivní účast a příprava společných aktivit,</li>
        <li>reprezentace názorů, návrhů a nápadů studentů.</li>
    </ul>

    <p>Žákovská rada je velmi aktivní instituce. Pravidelná setkání se konají každý týden.</p> 
    
</div><!-- .fold -->

<div class="fold">
    <img src="/images/council2.jpg" width="440" alt="">
</div><!-- .fold -->