<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Školka</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<%= erb(:analytics, :layout => false) %>
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/preschool">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/domu"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/domu">domů</a></li>
					<li><a href="skolka">školka</a></li>
					<li><a href="skola">škola</a></li>
					<li><a href="ucitele">učitelé</a></li>
					<li><a href="kontakt">kontakt</a></li>
					<li><a href="novinky">novinky</a></li>
					<li><a class="active" href="rozsireni-skolky">rozšíření školky</a></li>
					<li><a href="galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
					<div id="news">
            <h1>„Anglická“ školka v Olomouci otevře ještě letos novou třídu</h1>
            <br/>
            <p>Rodiče dětí předškolního věku se právě v těchto dnech pokoušejí o získání místa v některé ze školek. Není tajemstvím, že kapacita předškolních zařízení v Olomouci i celé České republice je i několikanásobně nižší než reálný zájem. International School Olomouc v této situaci přichází s projektem rozšíření kapacity mateřské školky, jehož výsledkem bude ještě letos vytvoření jedné nové třídy mateřské školy pro 15 žáků a pracovních míst pro 2–3 učitele. Časový plán počítá se zahájením výuky v nové třídě v první polovině školního roku 2011/2012.</p>

            <p>Stejně jako ve stávajících třídách olomoucké Mezinárodní školy bude výuka i veškerá konverzace probíhat výlučně v anglickém jazyce. Ve třídě se potkají děti různých národností, které budou hravou formou vedeny ke vnímání světa v širším mezinárodním kontextu. Výuka v International School Olomouc je založena na britských mezinárodních standardech, současně je akreditována Ministerstvem školství a poskytuje tak plnohodnotné vzdělání dle českých norem.</p>

            <p>Děti z mateřské školy mohou v rámci International School Olomouc pokračovat ve studiu na prvním stupni základní školy. Také na něm probíhá výuka v anglickém jazyce, dle kombinovaných českých a britských mezinárodních standardů. Studium lze ukončit získáním prestižních, mezinárodně uznávaných Cambridge Primary certifikátů.</p>

            <p>Náplní projektu „Rozšíření kapacity mateřské školky“ je legislativní, materiální a personální příprava provozu nové třídy. Rozšířením kapacity školky zároveň dojde k vytvoření podmínek pro další ekonomický rozvoj v regionu. Projekt má za cíl přispět k naplnění Integrovaného plánu rozvoje města „Atraktivní a konkurenceschopná Olomouc.“ Je spolufinancován evropským sociálním fondem a státním rozpočtem České republiky.</p>

            <p>International School Olomouc je nestátní mateřská a základní škola s výukou v angličtině pro děti od 3 do 11 let. Školu aktuálně navštěvuje 37 dětí 8 různých národností (vč. české). International School Olomouc je první Cambridge School na Moravě.</p>

            <p>Další informace o možnostech vzdělávání dětí v anglickém jazyce v Olomouci jsou k dispozici na tomto webu, případně je možné kontaktovat ředitele školy Petra Pospíšila:</p>
 
            <p>International School Olomouc<br/>
            Rooseveltova 101<br/>
            779 00 Olomouc<br/>
            tel.: +420 585 754 880<br/>
            GSM: +420 604 115 982<br/>
            e-mail: <a href="mailto:petr.pospisil@ischool.cz?subject=Rozšíření školky">petr.pospisil@ischool.cz</a></p>
            
						<br/>
						<br/>
						<img src="/images/EU_logos.jpg" width="660" height="67" alt="EU Logos">
						
					</div><!-- #news -->
				
			</div><!-- #body -->
			<div id="footer">
				Design a vývoj webu Josef Richter <a href="http://www.josefrichter.com">www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		
	</body>
	
</html>
