				
					<div id="news">
            <h1>Anglická školka v Olomouci otevře ještě letos novou třídu</h1>
            <br/>
            <p>Rodiče dětí předškolního věku se právě v těchto dnech pokoušejí o získání místa v některé ze školek. Není tajemstvím, že kapacita předškolních zařízení v Olomouci i celé České republice je i několikanásobně nižší než reálný zájem. International School Olomouc v této situaci přichází s projektem rozšíření kapacity mateřské školky, jehož výsledkem bude ještě letos vytvoření jedné nové třídy mateřské školy pro 15 žáků a pracovních míst pro 2–3 učitele. Časový plán počítá se zahájením výuky v nové třídě v první polovině školního roku 2011/2012.</p>

            <p>Stejně jako ve stávajících třídách olomoucké Mezinárodní školy bude výuka i veškerá konverzace probíhat výlučně v anglickém jazyce. Ve třídě se potkají děti různých národností, které budou hravou formou vedeny ke vnímání světa v širším mezinárodním kontextu. Výuka v International School Olomouc je založena na britských mezinárodních standardech, současně je akreditována Ministerstvem školství a poskytuje tak plnohodnotné vzdělání dle českých norem.</p>

            <p>Děti z mateřské školy mohou v rámci International School Olomouc pokračovat ve studiu na prvním stupni základní školy. Také na něm probíhá výuka v anglickém jazyce, dle kombinovaných českých a britských mezinárodních standardů. Studium lze ukončit získáním prestižních, mezinárodně uznávaných Cambridge Primary certifikátů.</p>

            <p>Náplní projektu „Rozšíření kapacity mateřské školky“ je legislativní, materiální a personální příprava provozu nové třídy. Rozšířením kapacity školky zároveň dojde k vytvoření podmínek pro další ekonomický rozvoj v regionu. Projekt má za cíl přispět k naplnění Integrovaného plánu rozvoje města „Atraktivní a konkurenceschopná Olomouc.“ Je spolufinancován evropským sociálním fondem a státním rozpočtem České republiky.</p>

            <p>International School Olomouc je nestátní mateřská a základní škola s výukou v angličtině pro děti od 3 do 11 let. Školu aktuálně navštěvuje 37 dětí 8 různých národností (vč. české). International School Olomouc je první Cambridge School na Moravě.</p>

            <p>Další informace o možnostech vzdělávání dětí v anglickém jazyce v Olomouci jsou k dispozici na tomto webu, případně je možné kontaktovat ředitele školy Petra Pospíšila:</p>

						<div class="images">
							 <a href="/images/viz_1.jpg"><img src="/images/thumb_viz_1.jpg" width="133" height="100" alt="Thumb Viz 1"></a>
							 <a href="/images/viz_2.jpg"><img src="/images/thumb_viz_2.jpg" width="166" height="100" alt="Thumb Viz 2"></a>
						</div>
 
            <p>International School Olomouc<br/>
            Rooseveltova 101<br/>
            779 00 Olomouc<br/>
            tel.: +420 585 754 880<br/>
            GSM: +420 604 115 982<br/>
            e-mail: <a href="mailto:petr.pospisil@ischool.cz?subject=Rozšíření školky">petr.pospisil@ischool.cz</a></p>
            
						<br/>
						<br/>
						<img src="/images/EU_logos.jpg" width="660" height="67" alt="EU Logos">
						
					</div><!-- #news -->
				
