<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Junior School</title>
		
		<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="header">
				<img id="logo" src="/images/logo.png" width="150" height="58" alt="Logo">
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/">homepage</a></li>
					<li><a href="/preschool">preschool</a></li>
					<li><a href="/junior-school">junior school</a></li>
					<li><a href="/staff">staff</a></li>
					<li><a href="/contact">contact</a></li>
					<li><a class="active" href="/news">news</a></li>
					<li><a href="/gallery">gallery</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
				<%= yield %>					
				
			</div><!-- #body -->
			
		</div><!-- #wrapper -->
		
	</body>
	
</html>