<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Základní škola</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<%= erb(:analytics, :layout => false) %>
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/primary-school">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/domu"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/domu">domů</a></li>
					<li><a href="skolka">školka</a></li>
					<li><a class="active" href="skola">škola</a></li>
					<li><a href="ucitele">učitelé</a></li>
					<li><a href="kontakt">kontakt</a></li>
					<li><a href="novinky">novinky</a></li>
					<li><a href="galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
					<div class="column">
						
						<div class="intro">
							<h1 class="nospacing">Základní škola</h1>
							<h3 class="nospacing">pro děti od 6 do 11 let</h3>
							<h5><br/>Jelikož dnes více než kdy jindy žijeme v globálním světě, naše každodenní činnost a výuka v základní škole směřuje k tomu, abychom pomohli našim žákům stát se úspěšnými, aktivními a&nbsp;zodpovědnými světoobčany.</h5>
						</div><!-- .intro -->
						
						<h6>Co vyučujeme a jak</h6>
						
						<p>Naše ucelené a vyvážené kurikulum přispívá k rozvoji všech základních znalostí a dovedností <strong>odpovídajících prvnímu stupni základní školy</strong>. Zaměřujeme se také na rozvoji osobnostních a sociálního dovedností a důraz klademe především na <strong>rozvoji multikulturního myšlení</strong>.</p>
						
						<p>Cílem našeho snažení je, aby vyučování bylo pro všechny žáky <strong>zábavné a zajímavé</strong> a aby jejich první zkušenost se školou a systematickou výukou byla příjemným zážitkem, na který budou <strong>s radostí vzpomínat</strong>.</p>
						
						<h6>Rozvrh dne</h6>
						
						<p>Ve škole se pořád něco děje. Ať už v jednotlivých třídách či mimo ně. Každý školní den se řídí pravidelným rozvrhem. V ranních hodinách probíhá výuka anglického jazyka, matematiky a pro žáky české národnosti také výuka češtiny jako rodného jazyka.</p> 
							
						<p>Druhou polovinu dne se žáci učí a získávají nové znalosti a dovednosti pomocí <strong>mezinárodního vzdělávacího programu IPC</strong>. Žáci pracují <strong>v menších skupinkách</strong> a učí se novým znalostem a dovednostem prostřednictvím detailně naplánovaných aktivit.</p>

						<p>Vyučování končí v 14.00. Někteří žáci zůstávají ve škole a navštěvují <strong>odpolední klub</strong> nebo se zapisují do odpoledních aktivit, které probíhají většinou od 14.00 do 15.00 přímo ve škole.</p>
						
					</div><!-- .column -->
					
					<div class="column">
						
						<h1>&nbsp;</h1>
						
						<h6>Vzdělávací program</h6>
						
						<p><strong>International Primary Curriculum, Cambridge Primary Curriculum Framework a Rámcový vzdělávací program pro ZŠ</strong> jsou výchozí kurikulární dokumenty, které určují obsah a charakter bohatého mezinárodního školního vzdělávacího programu.</p>
						
						<p>Žáci se přirozeně rozvíjí v anglickém jazyce, českém jazyce a matematice. Dále v přírodních vědách, zeměpisu, historii, výtvarné a hudební výchově, pracovní výchově, informačních a komunikačních technologiích, společenské výchově a mezinárodní výchově. Učivo je uspořádáno do jednotlivých <strong>integrovaných, mezipředmětových IPC modulů</strong>. Každý IPC modul má své zajímavé téma a pevnou strukturu.</p>
						
						<p>Žáci směřují ke složení tzv. <strong>Primary Achievement Tests</strong>, které skládají na konci 5. třídy. Žáci české národnosti každoročně také skládají <strong>zkoušku z českého jazyka</strong>. Tímto je zajištěna <strong>plynulá návaznost</strong> na jiné vzdělávací systémy včetně vzdělávacího systému ČR.</p>

						
						<h6>Přijímací proces</h6>
						
						<p>Přijetí každého žáka je podmíněno vyhodnocením celé řady potřebných informací. Náš cíl je nabízet místa pouze těm žákům, pro které může být studium v mezinárodní škola <strong>přínosem</strong>. Nevyžadujeme, aby žáci dosahovali určité úrovně znalosti anglického jazyka.</p>

						<p>Pokud to je možné, velmi vítáme, když každý potencionální žák školy s námi stráví <strong>minimálně jedno dopoledne</strong>. Žáci, kteří se zapisují k docházce do vyšších ročníků (2-5 třída) skládají pro účely školy <strong>krátký diagnostický test</strong> z matematiky, anglického jazyka a studijních předpokladů. Rozhodnutí o přijetí žáka vydává ředitel školy. Celkově jsme schopni přijmout <strong>maximálně 12 žáků</strong> do jednoho dvouletého cyklu.</p>
						
					</div><!-- .column -->
				
			</div><!-- #body -->
			<div id="footer">
				Design a vývoj webu Josef Richter <a href="http://www.josefrichter.com">www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		
	</body>
	
</html>