				
					<div class="column">
						
						<div>
							<h1 class="nospacing">Mateřská školka</h1>
							<h3 class="nospacing">pro děti od 3 do 6 let</h3>
							<h5><br/>Nabízíme prvotřídní péči a vzdělávání pro děti předškolního věku s důrazem na celistvý rozvoj dítěte. Kreativní a pozitivní přístup k dětem v naší mezinárodní školce přispívá k osvojování si odpovídajících hodnot a kompetencí důležitých pro život v neustále se globalizujícím světě.</h5>
						</div><!-- .intro -->
						
						<div id="spacer_skolka_leftcol">&nbsp;</div>
						
						<h6>Co vyučujeme</h6>
						
						<p>Program a prostředí naší mateřské školy vytváří ideální podmínky pro rozvoj <span class="strong">multikulturní výchovy</span> s důrazem na <span class="strong">systematickou výuku anglického jazyka</span> a individuální přístup k dítěti. Angličtina je hlavním jazykem pro komunikaci v naší MŠ.</p>
						
						<p>Vzdělávací nabídka v mateřské škole je uspořádána podle moderního a uznávaného programu <span class="strong">International Primary Curriculum</span> do tematických bloků, které vyváženě kombinují cílenou hru, řízené činnosti a činnosti iniciované dětmi. Jelikož rozumíme jedinečnosti dětského vývoje, každý tematický blok má pevnou strukturu, ale zároveň je dostatečně flexibilní a svými aktivitami se přizpůsobuje individuálním potřebám a zájmům dětí. V naší školce je nedílnou součástí učení a poznávání světa také samozřejmě i hra.</p>
						
						<p>U dětí <span class="strong">rozvíjíme vědomosti, porozumění a dovednosti</span> ve všech oblastech vzdělání: osobnostní rozvoj, jazyk a řeč, matematické představy, porozumění světu, tělesný a kreativní rozvoj. Od 4 let věku dítěte systematicky rozvíjíme dovednosti potřebné k pozdější výuce čtení a psaní v anglickém jazyce. K tomuto účelu používáme praxí prověřené a kvalitní zahraniční výukové materiály Jolly Phonics a Oxford Reading Tree.</p>
						
					</div><!-- .column -->
					
					<div class="column">
						
						<div id="spacer_skolka_rightcol">&nbsp;</div>
						
						<h6>Den ve školce</h6>
						
						<p>Naší mateřskou školu tvoří jedna třída se spojenými ročníky dětí 3 až 4letých (Nursery) a dětí 4 až 5letých (Reception). Řízenou činnost a hlavní vzdělávací nabídku soustřeďujeme do doby od 8:45 do 14:30. Jelikož děti mohou navštěvovat Ranní nebo Odpolední klub, celkové provozní doba školky je <span class="strong">od 7:30 do 16:30</span>. V odpoledních hodinách děti mohou přímo ve školce navštěvovat <span class="strong">zájmové kroužky</span>.</p>
						
						<p>Během dne ve třídě, v přilehlé zahradě a v tělocvičně se děti věnují různorodým zábavným činnostem a aktivitám vedoucím k rozvíjení si všech oblastí vzdělání. Po většinu dne se <span class="strong">max. 30 dětem věnují 4 paní učitelk</span>y. Tento příznivý poměr pedagogů na dítě nám umožňuje přistupovat individuálně ke každému dítěti. Jako součást hlavní vzdělávací nabídky dětem poskytujeme i možnost účasti na lekcích <span class="strong">plavání a lyžování</span>.</p>
						
					</div><!-- .column -->
