				
					<div class="column">
						
						<div class="intro">
							<h1 class="nospacing">Základní škola</h1>
							<h3 class="nospacing">pro děti od 6 do 11 let</h3>
							<h5><br/>Jelikož dnes více než kdy jindy žijeme v globálním světě, naše každodenní činnost a výuka v základní škole směřuje k tomu, abychom pomohli našim žákům stát se úspěšnými, aktivními a&nbsp;zodpovědnými světoobčany.</h5>
						</div><!-- .intro -->
						
						<h6>Co vyučujeme a jak</h6>
						
						<p>Naše ucelené a vyvážené kurikulum přispívá k rozvoji všech základních znalostí a dovedností <span class="strong">odpovídajících prvnímu stupni základní školy</span>. Zaměřujeme se také na rozvoji osobnostních a sociálního dovedností a důraz klademe především na <span class="strong">rozvoji multikulturního myšlení</span>.</p>
						
						<p>Cílem našeho snažení je, aby vyučování bylo pro všechny žáky <span class="strong">zábavné a zajímavé</span> a aby jejich první zkušenost se školou a systematickou výukou byla příjemným zážitkem, na který budou <span class="strong">s radostí vzpomínat</span>.</p>
						
						<h6>Rozvrh dne</h6>
						
						<p>Ve škole se pořád něco děje. Ať už v jednotlivých třídách či mimo ně. Každý školní den se řídí pravidelným rozvrhem. V ranních hodinách probíhá výuka anglického jazyka, matematiky a pro žáky české národnosti také výuka češtiny jako rodného jazyka.</p> 
							
						<p>Druhou polovinu dne se žáci učí a získávají nové znalosti a dovednosti pomocí <span class="strong">mezinárodního vzdělávacího programu IPC</span>. Žáci pracují <span class="strong">v menších skupinkách</span> a učí se novým znalostem a dovednostem prostřednictvím detailně naplánovaných aktivit.</p>

						<p>Vyučování končí v 14.00. Někteří žáci zůstávají ve škole a navštěvují <span class="strong">odpolední klub</span> nebo se zapisují do odpoledních aktivit, které probíhají většinou od 14.00 do 15.00 přímo ve škole.</p>
						
					</div><!-- .column -->
					
					<div class="column">
						
						<h1>&nbsp;</h1>
						
						<h6>Vzdělávací program</h6>
						
						<p><span class="strong">International Primary Curriculum, Cambridge Primary Curriculum Framework a Rámcový vzdělávací program pro ZŠ</span> jsou výchozí kurikulární dokumenty, které určují obsah a charakter bohatého mezinárodního školního vzdělávacího programu.</p>
						
						<p>Žáci se přirozeně rozvíjí v anglickém jazyce, českém jazyce a matematice. Dále v přírodních vědách, zeměpisu, historii, výtvarné a hudební výchově, pracovní výchově, informačních a komunikačních technologiích, společenské výchově a mezinárodní výchově. Učivo je uspořádáno do jednotlivých <span class="strong">integrovaných, mezipředmětových IPC modulů</span>. Každý IPC modul má své zajímavé téma a pevnou strukturu.</p>
						
						<p>Žáci směřují ke složení tzv. <span class="strong">Primary Achievement Tests</span>, které skládají na konci 5. třídy. Žáci české národnosti každoročně také skládají <span class="strong">zkoušku z českého jazyka</span>. Tímto je zajištěna <span class="strong">plynulá návaznost</span> na jiné vzdělávací systémy včetně vzdělávacího systému ČR.</p>

						
						<h6>Přijímací proces</h6>
						
						<p>Přijetí každého žáka je podmíněno vyhodnocením celé řady potřebných informací. Náš cíl je nabízet místa pouze těm žákům, pro které může být studium v mezinárodní škola <span class="strong">přínosem</span>. Nevyžadujeme, aby žáci dosahovali určité úrovně znalosti anglického jazyka.</p>

						<p>Pokud to je možné, velmi vítáme, když každý potencionální žák školy s námi stráví <span class="strong">minimálně jedno dopoledne</span>. Žáci, kteří se zapisují k docházce do vyšších ročníků (2-5 třída) skládají pro účely školy <span class="strong">krátký diagnostický test</span> z matematiky, anglického jazyka a studijních předpokladů. Rozhodnutí o přijetí žáka vydává ředitel školy. Celkově jsme schopni přijmout <span class="strong">maximálně 12 žáků</span> do jednoho dvouletého cyklu.</p>
						
					</div><!-- .column -->
				
