<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Základní škola</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/primary-school">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/domu"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/domu">domů</a></li>
					<li><a href="skolka">školka</a></li>
					<li><a class="active" href="skola">škola</a></li>
					<li><a href="ucitele">učitelé</a></li>
					<li><a href="kontakt">kontakt</a></li>
					<li><a href="novinky">novinky</a></li>
					<li><a href="galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				
					<div class="column">
						
						<div class="intro">
							<h1 class="nospacing">Základní škola</h1>
							<h3 class="nospacing">pro děti od 6 do 11 let</h3>
							<h5><br/>Jelikož dnes více než kdy jindy žijeme v globálním světě, naše každodenní činnost a výuka v základní škole směřuje k tomu, abychom pomohli našim žákům stát se úspěšnými, aktivními a&nbsp;zodpovědnými světoobčany.</h5>
						</div><!-- .intro -->
						
						<h6>Co vyučujeme</h6>
						
						<p>Náplní vyučování v mezinárodní škole je rozvoj základních znalostí a dovedností v jednotlivých předmětech, podpora osobnostního růstu a především <strong>rozvoj mezinárodního povědomí</strong>.</p>
						
						<p>Naším cílem je, aby vyučování bylo zábavné a naplňující, a <strong>aby žáci na svou první zkušenost se základní školou vzpomínali s radostí</strong>.</p>
						
						<h6>Rozvrh dne</h6>
						
						<p>Ve škole se pořád něco děje. Ať už v jednotlivých třídách či mimo ně. Každý školní den se řídí pravidelným rozvrhem. V ranních hodinách probíhá výuka anglického jazyka, matematiky a pro žáky české národnosti také výuka češtiny jako rodného jazyka. Druhou polovinu dne se žáci učí a získávají nové znalosti a dovednosti pomocí mezinárodního vzdělávacího programu IPC.</p>

						<p>Vyučování končí v 14.00. Někteří žáci zůstávají ve škole a navštěvují odpolední klub nebo se zapisují do odpoledních aktivit, které probíhají většinou od 14.00 do 15.00 přímo ve škole.</p>
						
					</div><!-- .column -->
					
					<div class="column">
						
						<h1>&nbsp;</h1>
						
						<h6>Vzdělávací program</h6>
						
						<p>Náš ucelený a vyvážený vzdělávací program podporuje rozvoj základních znalostí a dovedností ve všech oborech základního vzdělávání včetně rozvoje osobnostních a sociálních kompetencí a je specificky zaměřen na podporu a rozvoj multikulturního myšlení.</p>

						<p>Anglický národní vzdělávací program, International Primary Curriculum a Rámcový vzdělávací program pro ZŠ jsou výchozí programové dokumenty, které určují obsah a charakter bohatého mezinárodního školního vzdělávacího programu.</p>

						
						<h6>Přijímací proces</h6>
						
						<p>Přijetí každého žáka je podmíněno vyhodnocením celé řady potřebných informací. Náš cíl je nabízet místa pouze těm žákům, pro které může být studium v mezinárodní škola přínosem. Nevyžadujeme, aby žáci dosahovali určité úrovně znalosti anglického jazyka.</p>

						<p>Pokud to je možné, velmi vítáme, když každý potencionální žák školy s námi stráví minimálně jedno dopoledne. Žáci, kteří se zapisují k docházce do vyšších ročníků (2-5 třída) skládají pro účely školy krátký diagnostický test z matematiky, anglického jazyka a studijních předpokladů. Rozhodnutí o přijetí žáka vydává ředitel školy. Celkově jsme schopni přijmout maximálně 12 žáků do jednoho dvouletého cyklu.</p>
						
					</div><!-- .column -->
				
			</div><!-- #body -->
			<div id="footer">
				Design a vývoj webu Josef Richter <a href="http://www.josefrichter.com">www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		
	</body>
	
</html>