
				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Staff</h1>
							<h5 class="nospacing">All teachers are fluent in English and possess appropriate qualifications. We expect from all the teachers a strong passion for their job and for teaching and learning since we believe that if teachers love what they do then, also the pupils will learn better.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/katerina.jpg" width="120" height="160" alt="Katerina">
								<h6>Katerina Pegg</h6>
								Primary Teacher<br/>
								<br/>								
								<a href="mailto:katerina.pegg@ischool.cz">katerina.pegg@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Katerina graduated as a teacher of English language and literature in 2008 from Ss. Cyril and Methodius University in Macedonia. <!-- After teaching for 3 years in Macedonia as a primary school English teacher and teaching English as a second language within language schools, she met her Canadian husband there, who at the time was working in the Czech Republic. This brought her here and since last year they have had an addition to their family, a baby boy.  -->She is a flexible teacher and since joining our school has worked as an IPC, Maths and English teacher.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
					
			<div class="fold">
				
				<div class="column">
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/palina-mahilina.jpg" width="120" height="160" alt="Palina">
							<h6>Palina Mahilina</h6>
							Primary Teacher<br/>
							<br/>								
							<a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Palina finished Pedagogical College in Belarus before continuing her education in Lithuania and in the Czech Republic. Following her interest in media teaching, she also spent several months at Citizens’ Media House Bennohaus in Muenster<!-- , Germany preparing TV programmes with children and teenagers -->. Palina is about to become a certified TEFL teacher as well.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">  
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/Sophie.jpg" width="120" height="160" alt="Sophie">
							<h6>Sophie Bouvier</h6>
							French Teacher<br/>
							<br/>								
							<a href="mailto:sophie.bouvier@ischool.cz">sophie.bouvier@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Sophie graduated in French literature and theatre at the University of Paris X Nanterre and Trinity College in Dublin. She is originally from Paris but has travelled extensively, teaching French at university level in Finland, Scotland, England and China. Sophie is interested in Early Modern studies and is currently completing her PhD with the University of Bristol. She also enjoys walking in the old streets of Olomouc and admiring the local countryside on a horse back. </p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->	
					
			</div><!-- .fold -->
			
			<div class="fold">
			
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/chang.jpg" width="120" height="160" alt="Chang Chung Li">
							<h6>Chang Chung-Li</h6>
							Technology Teacher<br/>
							<br/>								
							<a href="mailto:chang.chung.li@ischool.cz">chang.chung.li@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Chung-li comes from Taiwan. He studied medicine in CZ. During studying biology back in Taiwan, he worked as a private tutor for high school students and he also taught biology in private schools. In CZ he has participated in teaching university students from English program.</p>
							<a href="staff">&laquo; previous</a>&nbsp;&nbsp;&nbsp;<a href="staff3">next &raquo;</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">	
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/bara2.jpg" width="120" height="160" alt="Barbora">
							<h6>Barbora Bohdanska</h6>
							Social Studies Teacher<br/>
							<br/>								
							<a href="mailto:barbora.bohdanska@ischool.cz">barbora.bohdanska@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Barbora graduated as a secondary teacher of English and Civics from Palacký University in 2012. She spent some time in England, working as an au-pair, she has experience working as a training manager and volunteer teacher in children’s home. She loves baking cakes, vintage furniture and fashion.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->
				
