
				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Staff</h1>
							<h5 class="nospacing">All teachers are fluent in English and possess appropriate qualifications. We expect from all the teachers a strong passion for their job and for teaching and learning since we believe that if teachers love what they do then, also the pupils will learn better.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">
					  	<div class="teacher_profile">
							
							
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
			  
			  <div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/katerina.jpg" width="120" height="160" alt="Katerina">
							<h6>Katerina Pegg</h6>
							Primary Teacher<br/>
							<br/>								
							<a href="mailto:katerina.pegg@ischool.cz">katerina.pegg@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Katerina graduated as a teacher of English language and literature in 2008 from Ss. Cyril and Methodius University in Macedonia. <!-- After teaching for 3 years in Macedonia as a primary school English teacher and teaching English as a second language within language schools, she met her Canadian husband there, who at the time was working in the Czech Republic. This brought her here and since last year they have had an addition to their family, a baby boy.  -->She is a flexible teacher and since joining our school has worked as an IPC, Maths and English teacher.</p>
						</div><!-- .bio -->

					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/ladislava.jpg" width="120" height="160" alt="Peter">
							<h6>Ladislava Livingstone</h6>
							Early Years Teacher<br/>
							<br/>								
							<a href="mailto:ladislava.livingstone@ischool.cz">ladislava.livingstone@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Ladislava is a children's nurse, also studied music-therapy and has certifications for teaching English to children, which she did for the last ten years. She has extensive experience teaching children both in local schools and for the Helen Doron organization.</p>
						</div><!-- .bio -->

					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
			  
			</div><!-- .fold -->
			
			<div class="fold">
			
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/zdenka.jpg" width="120" height="160" alt="Zdeňka">
							<h6>Zdenka Janhubova</h6>
							Special Education Needs Coordinator<br/>
							<br/>								
							<a href="mailto:alzbeta.koci@ischool.cz">alzbeta.koci@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Zdeňka is in charge of providing learning support for children with special educational needs. She graduated from The Faculty of Education in Olomouc. Her studies were finished with rigorous exam and later on she completed her qualification with Psychology studies and psychotherapeutic course. Zdenka leads private practice focused on consultancy, therapy and special education.</p>
							<a href="staff3">&laquo; previous</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">	
				  <div class="teacher_profile">
						
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->
				
					
		