
				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Staff</h1>
							<h5 class="nospacing">All teachers are fluent in English and possess appropriate qualifications. We expect from all the teachers a strong passion for their job and for teaching and learning since we believe that if teachers love what they do then, also the pupils will learn better.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">
					  	<div class="teacher_profile">
							
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
			  
			  <div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/veronika.jpg" width="120" height="160" alt="Veronika">
							<h6>Veronika Sonter</h6>
							Secondary Teacher<br/>
							<br/>								
							<a href="mailto:veronika.sonter@ischool.cz">veronika.sonter@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Veronika graduated from Palacký University in 2007. She is a certified English teacher for secondary education. She is interested in current teaching methods and styles and enjoys motivating children to fall in love with the English language. She is a passionate reader (2-3 books a week). Her other hobbies include cooking, baking with her daughter and singing.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/janita.jpg" width="120" height="160" alt="Janita">
							<h6>Janita Itäniemi</h6>
							Primary Teacher<br/>
							<br/>								
							<a href="mailto:janita.itaniemi@ischool.cz">janita.itaniemi@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Janita has degrees in primary education (Denmark) and English language teaching (Scotland). She has engaged in teaching and education related projects in four different continents since she moved away from her native country, Finland, in 1999. She believes that each child is a unique individual whose presence enriches the learning environment for all.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
			  
			</div><!-- .fold -->
			
			<div class="fold">
			
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/alzbeta.jpg" width="120" height="160" alt="Alzbeta Koci">
							<h6>Alzbeta Koci</h6>
							Early Years Teacher<br/>
							<br/>								
							<a href="mailto:alzbeta.koci@ischool.cz">alzbeta.koci@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Alzbeta studied music and Czech philology at Palacky University in Olomouc. She worked in Edinburgh’s nursery for 3 years. There she realized working with early years is her way of life and therefore she decided to improve her studies and did Higher National Certificate Early Education and Childcare at Stevenson College (Edinburgh).</p>
							<a href="staff2">&laquo; previous</a>&nbsp;&nbsp;&nbsp;<a href="staff4">next &raquo;</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">	
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/libuse.jpg" width="120" height="160" alt="Libuše Hrabí">
							<h6>Libuse Hrabi</h6>
							Science teacher<br/>
							<br/>								
							<a href="mailto:libuse.hrabi@ischool.cz">libuse.hrabi@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Libuše studied Biology in Brno and Bucharest. Recently, she's been working as a docent at Department of Biology at Faculty of Education in Olomouc. She is participating in projects, grants, competitions, translations, thesis-reviews and working in research. She speaks English, French, Romanian, Russian and German.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->
				
					
		