<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Staff</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<%= erb(:analytics, :layout => false) %>
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/ucitele2">&raquo; česky</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			<div id="navigation">
				<ul>
					<li><a href="/">homepage</a></li>
					<li><a href="preschool">preschool</a></li>
					<li><a href="primary-school">primary school</a></li>
					<li><a class="active" href="staff">staff</a></li>
					<li><a href="contact">contact</a></li>
					<li><a href="news">news</a></li>
					<li><a href="expanding-preschool">expanding preschool</a></li>
					<li><a href="gallery">gallery</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Staff</h1>
							<h5 class="nospacing">All teachers are fluent in English and possess appropriate qualifications. We expect from all the teachers a strong passion for their job and for teaching and learning since we believe that if teachers love what they do then, also the pupils will learn better.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/katerina.jpg" width="120" height="160" alt="Katerina">
								<h6>Katerina Pegg</h6>
								Primary Teacher<br/>
								<br/>								
								<a href="mailto:katerina.pegg@ischool.cz">katerina.pegg@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Katerina graduated as a teacher of English language and literature in 2008 from Ss. Cyril and Methodius University in Macedonia. <!-- After teaching for 3 years in Macedonia as a primary school English teacher and teaching English as a second language within language schools, she met her Canadian husband there, who at the time was working in the Czech Republic. This brought her here and since last year they have had an addition to their family, a baby boy.  -->She is a flexible teacher and since joining our school has worked as an IPC, Maths and English teacher.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
					
			<div class="fold">
				<div class="column">  
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/sandra-cabajova.jpg" width="120" height="160" alt="Sandra">
							<h6>Sandra Cabajová</h6>
							Early Years Assistant<br/>
							<br/>								
							<a href="mailto:sandra.cabajova@ischool.cz">sandra.cabajova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Sandra came to our school from International Montessori School of Prague where she worked as a teacher assistant and ESL teacher. She was responsible for running of After school club and Forest activities. <!-- She is trained Montessori teacher for ages 3 - 9 and attended other various courses for such as Respektovat a být respektován, Environmental Education, etc. She loves nature and helps children to learn how to behave in and towards nature. --> Sandra is also a member of Forest Preschools Association. She likes singing and she plays various types of instruments.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
					
					
					
				</div><!-- .column -->
				
				<div class="column">
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/palina-mahilina.jpg" width="120" height="160" alt="Palina">
							<h6>Palina Mahilina</h6>
							Teacher<br/>
							<br/>								
							<a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Palina finished Pedagogical College in Belarus before continuing her education in Lithuania and in the Czech Republic. Following her interest in media teaching, she also spent several months at Citizens’ Media House Bennohaus in Muenster<!-- , Germany preparing TV programmes with children and teenagers -->. Palina is about to become a certified TEFL teacher as well.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->	
					
			</div><!-- .fold -->
			
			<div class="fold">
			
				<div class="column">			
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/jana-schovajsova.jpg" width="120" height="160" alt="Jana">
							<h6>Jana Schovajsová</h6>
							Primary Teacher<br/>
							<br/>								
							<a href="mailto:jana.schovajsova@ischool.cz">jana.schovajsova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Jana is a qualified teacher for primary school and also for English (from Palacký University in Olomouc). She spent some months in England as an au-pair and then a term in Sweden studying Multiculcural classroom program.  She is interested in environmental education (actually she made Ph.D. at that field) and she likes also nature, <!-- walking, riding a bike, --> gardening, cooking and singing.</p>
							<a href="staff">&laquo; previous</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
						
				</div><!-- .column -->
				
				<div class="column">	
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/lenka-horakova.jpg" width="120" height="160" alt="Lenka">
							<h6>Lenka Horáková</h6>
							After School Club Teacher<br/>
							<br/>								
							<a href="mailto:lenka.horakova@ischool.cz">lenka.horakova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Lenka spent several years in the US working with children as an au-pair and studied at SUNY Purchase University. She received her BA in Arts. After return, <!-- to the Czech Republic --> she worked as an art teacher and English teacher at public primary school. <!-- She also worked with children in afterschool club. --> Now she is in charge of <br />Afterschool club program. </p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->
				
					
						
			</div><!-- #body -->
			<div id="footer">
				Website designed and developed by Josef Richter <a href="http://www.josefrichter.com">www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		
	</body>
	
</html>