
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Staff</h1>
							<h5 class="nospacing">All teachers are fluent in English and possess appropriate qualifications. We expect from all the teachers a strong passion for their job and for teaching and learning since we believe that if teachers love what they do then, also the pupils will learn better.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/petr2.jpg" width="120" height="160" alt="Petr">
								<h6>Petr Pospisil</h6>
								Director<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 604 115 982<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Petr lived and worked in the Netherlands and the UK where he also obtained his masters degree from Durham University. He has a strong background in education and is responsible for running of the Primary School.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/marketa.jpg" width="120" height="160" alt="Marketa">
								<h6>Marketa Musiolova</h6>
								Director<br/>
								<br/>								
								<a href="mailto:marketa.musiolova@ischool.cz">marketa.musiolova@ischool.cz</a><br/>
								tel. +420 605 966 401<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Markéta is responsible for running the preschool and teaches in both nursery ad reception classes. Markéta spent over two years in the UK where she studied English and worked with children in various positions, which she found enriching. She poses the Certificate in Early Years and is deepening her knowledge by further studies with the Open University. Markéta comes from Havířov, a town in Northern Moravia. Away from school, Markéta enjoys skiing, cycling, swimming and travelling. </p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/tereza.jpg" width="120" height="160" alt="Tereza">
								<h6>Tereza Zemanova</h6>
								Primary Teacher<br/>
								<br/>								
								<a href="mailto:tereza.zemanova@ischool.cz">tereza.zemanova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Tereza joined the school in 2008. She graduated from Palacký University in Olomouc and is a qualified primary and lower secondary teacher. She also studied Education and Reform Strategies in Sweden, spent a few months in England and lived several years in Ireland. <!-- After she had returned, she worked for private language schools teaching English, then she taught at a Czech primary, lower secondary and secondary school (gymnasium). --> Tereza has been running the Milepost II classes and is also in charge of the Czech programme. Apart from teaching, Tereza loves training her dogs in agility, <!-- spending time outdoors (preferably with friends), --> cycling and music.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
				
					<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/veronika.jpg" width="120" height="160" alt="Veronika">
								<h6>Veronika Pospíšilová</h6>
								Early Years Assistant<br/>
								<br/>								
								<a href="mailto:veronika.pospisilov@ischool.cz">veronika.pospisilova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Veronika is from Rokytnice u Přerova, CR and lived for the last 9 years in London, UK where she was working as a nanny for children aged 2.5 - 5 years. She also worked in a nursery as an assistant teacher. Veronika also travelled around the world a lot. She loves to travel and discover different places. She loves working with children, photography and being outside in the nature.</p>
								<a href="staff2">next &raquo;</a>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
					
					<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/bojana.jpg" width="120" height="160" alt="Bojana">
								<h6>Bojana Kotur</h6>
								Early Years Teacher<br/>
								<br/>								
								<a href="mailto:bojana.kotur@ischool.cz">bojana.kotur@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Bojana is from Bosnia and Herzegovina where she earned her university degree. Bojana’s interest is in special education and children’s rights where she has participated on different projects in BH and US. During her stay in the US she received a TESL certificate.<!-- Bojana has also experience in teaching English as a second language at various Czech preschools. --></p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
				</div><!-- .fold -->
				
