<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Staff</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/ucitele">&raquo; česky</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/">homepage</a></li>
					<li><a href="preschool">preschool</a></li>
					<li><a href="primary-school">primary school</a></li>
					<li><a class="active" href="staff">staff</a></li>
					<li><a href="contact">contact</a></li>
					<li><a href="news">news</a></li>
					<li><a href="gallery">gallery</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Staff</h1>
							<h5 class="nospacing">All teachers are fluent in English and possess appropriate qualifications. We expect from all the teachers a strong passion for their job and for teaching and learning since we believe that if teachers love what they do then, also the pupils will learn better.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/petr.jpg" width="120" height="160" alt="Petr">
								<h6>Petr Pospisil</h6>
								Director<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 604 115 982<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Petr lived and worked in the Netherlands and the UK where he also obtained his masters degree from Durham University. He has a strong background in education and is responsible for running of the Primary School.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/martina.jpg" width="120" height="160" alt="Martina">
								<h6>Martina Brizkova</h6>
								Teacher<br/>
								<br/>								
								<a href="mailto:martina.brizkova@ischool.cz">martina.brizkova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Martina is a young graduate from the University of South Bohemia where she obtained a teaching qualification for primary schools. She is currently studying Early Years qualification courses with the Open University. </p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
						<a href="staff">&laquo; previous</a>
						
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/eliska.jpg" width="120" height="160" alt="Eliska">
								<h6>Eliska Hubackova</h6>
								Teacher<br/>
								<br/>								
								<a href="mailto:eliska.hubackova@ischool.cz">eliska.hubackova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Eliška is also a young graduate from Palackého University where she gained her Masters degree in P.E. and Sports with Recreology. Eliška teaches P.E. at our school leads the afterschool club and as a classroom assistant supports also the work of teachers.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
					 
						
				</div><!-- .fold -->
				
					
						
			</div><!-- #body -->
			<div id="footer">
				Website designed and developed by Josef Richter <a href="http://www.josefrichter.com">www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		
	</body>
	
</html>