
				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Staff</h1>
							<h5 class="nospacing">All teachers are fluent in English and possess appropriate qualifications. We expect from all the teachers a strong passion for their job and for teaching and learning since we believe that if teachers love what they do then, also the pupils will learn better.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
					
			<div class="fold">
				
				<div class="column">
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/palina.jpg" width="120" height="160" alt="Palina">
							<h6>Palina Mahilina</h6>
							Primary Teacher<br/>
							<br/>								
							<a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Palina finished Pedagogical College in Belarus before continuing her education in Lithuania and in the Czech Republic. Following her interest in media teaching, she also spent several months at Citizens’ Media House Bennohaus in Muenster<!-- , Germany preparing TV programmes with children and teenagers -->. Palina is about to become a certified TEFL teacher as well.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">  
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/agnieszka.jpg" width="120" height="160" alt="Agnieszka">
							<h6>Agnieszka Landowska</h6>
							After School Club Leader and Teaching Assistant<br/>
							<br/>								
							<a href="mailto:agnieszka.landowska@ischool.cz">agnieszka.landowska@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Agnieszka has graduated in Theatre studies at the Jagiellonian University in Krakow and School of Visual Arts in Gdynia. For several years during her studies she was working as an instructor at children's camps, leading such camps as art camp, theatre camp, fashion camp etc. Currently she is doing her PhD at Palacký University. She is a big fan of Czech humour, Jára Cimrman Theatre and Hrabal's books. She loves drawing, painting, designing jewellery and travelling just with her backpack.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->	
					
			</div><!-- .fold -->
			
			<div class="fold">
			
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/iva.jpg" width="120" height="160" alt="Iva">
							<h6>Iva Tenorová</h6>
							Czech Teacher<br/>
							<br/>								
							<a href="mailto:iva.tenorova@ischool.cz">iva.tenorova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Iva studied History and Czech Philology at Palacky University in Olomouc. As a teacher she has experience from various types of schools, including elementary, secondary and higher education level. Iva enjoys literature, sci-fi movies, ballet performaces and growing flowers.</p>
							<a href="staff">&laquo; previous</a>&nbsp;&nbsp;&nbsp;<a href="staff3">next &raquo;</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">	
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/bara2.jpg" width="120" height="160" alt="Barbora">
							<h6>Barbora Bohdanska</h6>
							Social Studies Teacher<br/>
							<br/>								
							<a href="mailto:barbora.bohdanska@ischool.cz">barbora.bohdanska@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Barbora graduated as a secondary teacher of English and Civics from Palacký University in 2012. She spent some time in England, working as an au-pair, she has experience working as a training manager and volunteer teacher in children’s home. She loves baking cakes, vintage furniture and fashion.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->
				
