
				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Staff</h1>
							<h5 class="nospacing">All teachers are fluent in English and possess appropriate qualifications. We expect from all the teachers a strong passion for their job and for teaching and learning since we believe that if teachers love what they do then, also the pupils will learn better.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">
					  	<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/ladislava.jpg" width="120" height="160" alt="Peter">
								<h6>Ladislava Livingstone</h6>
								Primary Teacher<br/>
								<br/>								
								<a href="mailto:ladislava.livingstone@ischool.cz">ladislava.livingstone@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Ladislava is a children's nurse, also studied music-therapy and has certifications for teaching English to children, which she did for the last ten years. She has extensive experience teaching children both in local schools and for the Helen Doron organization.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
			  
			  <div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/betty.jpg" width="120" height="160" alt="Peter">
							<h6>Alzbeta Kolinkova</h6>
							Primary Teacher<br/>
							<br/>								
							<a href="mailto:alzbeta.kolinkova@ischool.cz">alzbeta.kolinkova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Alžběta comes from Uherský Brod, a town in Southern Moravia. She graduated from the Faculty of Education at the Palacký University in Olomouc. She also studied Pedagogy of Leisure Time Activities and Physical Education in Olomouc, later in Coimbra, Portugal. She has experienced teaching at Czech Public School as a primary teacher. In her spare time she enjoys sports - dance and swimming are her favourites. She also enjoys travelling and visiting galleries or theatres.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/Janita.jpg" width="120" height="160" alt="Janita">
							<h6>Janita Itäniemi</h6>
							After school club and Primary Teacher<br/>
							<br/>								
							<a href="mailto:janita.itaniemi@ischool.cz">janita.itaniemi@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Janita comes from Finland and has degrees in primary education (Denmark) and English language teaching (Scotland). She believes that each child is a unique individual whose presence enriches the learning environment for all. Janita works as a MP1 and a After School Club teacher in the ISO.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
			  
			</div><!-- .fold -->
			
			<div class="fold">
			
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/alzbeta.jpg" width="120" height="160" alt="Alzbeta Koci">
							<h6>Albeta Koci</h6>
							ESL teacher and Clasroom assistant<br/>
							<br/>								
							<a href="mailto:alzbeta.koci@ischool.cz">alzbeta.koci@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Alzbeta studied music and Czech philology at Palacky University in Olomouc. She worked in Edinburgh’s nursery for 3 years. There she realized working with early years is her way of life and therefore she decided to improve her studies and did Higher National Certificate Early Education and Childcare at Stevenson College (Edinburgh).</p>
							<a href="staff2">&laquo; previous</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">	
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="http://dummyimage.com/120x160&text=Libuše Hrabí" width="120" height="160" alt="Libuše Hrabí">
							<h6>Libuse Hrabi</h6>
							Science teacher<br/>
							<br/>								
							<a href="mailto:libuse.hrabi@ischool.cz">libuse.hrabi@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Libuše studied Biology in Brno and Bucharest. Recently, she's been working as a docent at Department of Biology at Faculty of Education in Olomouc. She is participating in projects, grants, competitions, translations, thesis-reviews and working in research. She speaks English, French, Romanian, Russian and German.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->
				
					
		