				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/petr.jpg" width="120" height="160" alt="Petr">
								<h6>Petr Pospíšil</h6>
								jednatel<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 604 115 982<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Petr žil a&nbsp;pracoval v&nbsp;Nizozemí a&nbsp;v&nbsp;Anglii, kde získal v&nbsp;roce 2005 magisterský titul na Durham University. Již řadu let se zabývá problematikou vzdělávání v&nbsp;ČR a&nbsp;nově i&nbsp;v&nbsp;mezinárodním kontextu. Ve škole se stará o&nbsp;chod základní školy.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/marketa.jpg" width="120" height="160" alt="Marketa">
								<h6>Markéta Musiolová</h6>
								jednatelka<br/>
								<br/>								
								<a href="mailto:marketa.musiolova@ischool.cz">marketa.musiolova@ischool.cz</a><br/>
								tel. +420 605 966 401<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Markéta strávila přes dva roky ve Velké Británii a&nbsp;v&nbsp;současné době studuje bakalářský program v oblasti předškolní výchovy na Open University. Dříve take pracovala s&nbsp;dětmi v různých pozicích. Markéta se stará o&nbsp;výuku v mateřské škole.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/tereza.jpg" width="120" height="160" alt="Tereza">
								<h6>Tereza Zemanová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:tereza.zemanova@ischool.cz">tereza.zemanova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Tereza je veselá a&nbsp;pečlivá učitelka s&nbsp;učitelskou kvalifikací z&nbsp;Palackého Univerzity. Tereza studovala ve Švédsku vzdělávací a&nbsp;reformní strategie a&nbsp;žila několik let v&nbsp;Irsku. Po návratu pracovala na českých školách jako učitelka angličtiny. Tereza se stará o&nbsp;třídu „Milepost II“ a&nbsp;je zodopovědná za český programu ve škole.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
					<div class="column">  
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/bara.jpg" width="120" height="160" alt="Barbora">
								<h6>Barbora Doleželová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:barbora.dolezelova@ischool.cz">barbora.dolezelova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Barbora je mladá profesionální učitelka na prvním stupni ZŠ s&nbsp;odpovídající kvalifikací z Univerzity Palackého. Předtím než se rozhodla vycestovat a&nbsp;strávit nějaký čas na Novém Zélandě, pracovala na českých školách. Barbora vyučuje třídu &bdquo;Milepost I.&ldquo;</p>
								<br/><a href="ucitele2">další &raquo;</a>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
						 
						
					</div><!-- .column -->
					
					<div class="column">
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/john.jpg" width="120" height="160" alt="John">
								<h6>John Reaves</h6>
								učitel<br/>
								<br/>								
								<a href="mailto:john.reaves@ischool.cz">john.reaves@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>John je kanadský občan s&nbsp;kvalifikací učitele křesťanského vzdělávání. Dříve něž se přestěhoval s&nbsp;rodinou do ČR, kde nyní žije již cca 10 let, žil a&nbsp;pracoval na různých místech po světě. U&nbsp;nás pracuje jako učitel anglického jazyka pro žáky<br/>vyššího prvního stupně.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->	
						
				</div><!-- .fold -->	
						
