				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
			</div><!-- .fold -->
			
			<div class="fold">
			</div><!-- .fold -->
					