				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/petr.jpg" width="120" height="160" alt="Petr">
								<h6>Petr Pospíšil</h6>
								jednatel<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 604 115 982<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Petr žil a&nbsp;pracoval v&nbsp;Nizozemí a&nbsp;v&nbsp;Anglii, kde získal v&nbsp;roce 2005 magisterský titul na Durham University. Již řadu let se zabývá problematikou vzdělávání v&nbsp;ČR a&nbsp;nově i&nbsp;v&nbsp;mezinárodním kontextu. Ve škole se stará o&nbsp;chod základní školy.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/marketa.jpg" width="120" height="160" alt="Marketa">
								<h6>Markéta Musiolová</h6>
								jednatelka<br/>
								<br/>								
								<a href="mailto:marketa.musiolova@ischool.cz">marketa.musiolova@ischool.cz</a><br/>
								tel. +420 605 966 401<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Markéta je zodpovědná za chod školky a pracuje s dětmi ve třídách nursery a reception. Markéta žila více než 2 roky ve Velké Británii, kde studovala a pracovala s dětmi v různých pozicích. Práce s dětmi ji velmi naplňuje, proto se rozhodla dále se profesně vzdělávat na Open University v oblasti výchovy a vzdělávání dětí předškolního věku. Markéta pochází z Havířova, města na Severní Moravě. Mimo práci ve škole, má ráda lyžování, jízdu na kole, plavání a cestování.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/tereza.jpg" width="120" height="160" alt="Tereza">
								<h6>Tereza Zemanová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:tereza.zemanova@ischool.cz">tereza.zemanova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Tereza nastoupila na naši školu v roce 2008. Absolvovala Univerzitu Palackého v Olomouci a je kvalifikovanou učitelkou prvního a druhého stupně základní školy. Studovala také vzdělávací a reformní strategie ve Švédsku, strávila několik měsíců v Anglii a žila několik let v Irsku. <!-- Po návratu vyučovala angličtinu na soukromých jazykových školách, potom pracovala na české základní škole (první i druhý stupeň) a střední škole (gymnázium). --> Tereza se stará o třídu „Milepost II“ a také vede ve škole český program. Kromě učení má Tereza ráda kynologický sport agility, <!-- kterému se věnuje se svými psy,  ráda tráví čas v přírodě (nejlépe s přáteli),--> jezdí na kole a miluje hudbu.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
					<div class="column">  
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/bara.jpg" width="120" height="160" alt="Barbora">
								<h6>Barbora Doleželová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:barbora.dolezelova@ischool.cz">barbora.dolezelova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Barbora je mladá profesionální učitelka na prvním stupni ZŠ s&nbsp;odpovídající kvalifikací z Univerzity Palackého. Předtím než se rozhodla vycestovat a&nbsp;strávit nějaký čas na Novém Zélandě, pracovala na českých školách. Barbora vyučuje třídu &bdquo;Milepost I.&ldquo;</p>
								<br/><a href="ucitele2">další &raquo;</a>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
						 
						
					</div><!-- .column -->
					
					<div class="column">
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/john.jpg" width="120" height="160" alt="John">
								<h6>John Reaves</h6>
								učitel<br/>
								<br/>								
								<a href="mailto:john.reaves@ischool.cz">john.reaves@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>John je kanadský občan s&nbsp;kvalifikací učitele křesťanského vzdělávání. Dříve něž se přestěhoval s&nbsp;rodinou do ČR, kde nyní žije již cca 10 let, žil a&nbsp;pracoval na různých místech po světě. U&nbsp;nás pracuje jako učitel anglického jazyka pro žáky<br/>vyššího prvního stupně.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->	
						
				</div><!-- .fold -->	
						
