				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/katerina.jpg" width="120" height="160" alt="Katerina">
								<h6>Katerina Pegg</h6>
								učitelka Primary<br/>
								<br/>								
								<a href="mailto:katerina.pegg@ischool.cz">katerina.pegg@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Katerina získala kvalifikaci učitele anglického jazyka a&nbsp;literatury v roce 2008 na Cyrilometodějské Univerzitě v Makedonii.<!--  Poté tři roky pracovala jako učitelka angličtiny na základní škole v Makedonii, kde také potkala svého současného manžela, který je původem z Kanady a v době, kdy se poznali, pracoval a žil v České Republice. Tato skutečnost přivedla Katerinu k nám a v loňském školním roce oba dva přivítali nový přírůstek do rodiny.  --> Katerina je velmi flexibilní učitelka a od jejího nástupu pracovala jako učitelka angličtiny, matematiky a IPC. </p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
					
			<div class="fold">
				
				<div class="column">
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/palina-mahilina.jpg" width="120" height="160" alt="Palina">
							<h6>Palina Mahilina</h6>
							učitelka Primary<br/>
							<br/>								
							<a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Palina studovala na Pedagogické Univerzitě v Bělorusku a poté pokračovala ve vzdělání na Litvě a zde v České republice. Jelikož se zajímá o media a film, strávila několik měsíců v Citizens’ Media House Bennohaus v&nbsp;Muensteru Německo, kde připravovala s dětmi všech věkových kategorií televizní programy. <!-- Palina se připravuje na učitelskou zkoušku TEFEL. --></p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">  
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/sophie.jpg" width="120" height="160" alt="Sophie">
							<h6>Sophie Bouvier</h6>
							učitelka francouzštiny<br/>
							<br/>								
							<!-- <a href="mailto:katerina.pegg@ischool.cz">katerina.pegg@ischool.cz</a> --><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Sophie vystudovala francouzskou literaturu na univerzitě Paris X Nanterre a na Trinity College v Dublinu. Je původem z Paříže, ale hodně cestovala a učila francouzštinu na univerzitách ve Finsku, Skotsku, Anglii a v Číně. Kromě učení se Sophie zajímá o studia Novověku a momentálně dokončuje PhD na univerzitě v&nbsp;Bristolu. Ve volném čase se ráda prochází starobylými ulicemi Olomouce nebo obdivuje místní krajinu z&nbsp;koňského sedla.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->	
					
			</div><!-- .fold -->

			<div class="fold">
			
				<div class="column">			
          <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/PeterO.jpg" width="120" height="160" alt="Peter">
							<h6>Peter Odion Imwensi</h6>
							učitel přírodních věd<br/>
							<br/>								
							<!-- <a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a> --><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Peter je z Tampy na Floridě a je absolventem medicíny na Univerzitě Palackého. Peter momentálně dělá doktorát z klinické mikrobiologie tamtéž. Peter vyučoval přírodní vědy děti všech věkových skupin nad 3 roky. Jeho zálibami jsou basketbal, čtení a hudba.</p>
							<a href="ucitele">&laquo; předchozí</a>&nbsp;&nbsp;&nbsp;<a href="ucitele3">následující &raquo;</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
					
				<div class="column">	
          <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/bara2.jpg" width="120" height="160" alt="Barbora">
							<h6>Barbora Bohdanská</h6>
							Social Studies Teacher<br/>
							<br/>								
							<!-- <a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a> --><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Barbora vystudovala jako učitelka angličtiny a občanské nauky na Palackého Univerzitě. Strávila čas v Anglii jako au-pair, má zkušenosti s prací výcvikové manažerky a dobrovolné učitelky v dětském domově. Ráda peče koláče, má ráda starý nábytek a módu.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->