				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/katerina.jpg" width="120" height="160" alt="Katerina">
								<h6>Katerina Pegg</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:katerina.pegg@ischool.cz">katerina.pegg@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Katerina získala kvalifikaci učitele anglického jazyka a literatury v roce 2008 na Cyrilometodějské Univerzitě v Makedonii.<!--  Poté tři roky pracovala jako učitelka angličtiny na základní škole v Makedonii, kde také potkala svého současného manžela, který je původem z Kanady a v době, kdy se poznali, pracoval a žil v České Republice. Tato skutečnost přivedla Katerinu k nám a v loňském školním roce oba dva přivítali nový přírůstek do rodiny.  --> Katarína je velmi flexibilní učitelka a od jejího nástupu pracovala jako učitelka Angličtiny, Matematiky a IPC. </p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/martina.jpg" width="120" height="160" alt="Martina">
								<h6>Martina Břížková</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:martina.brizkova@ischool.cz">martina.brizkova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Martina je mladá absolventka Jihočeské Univerzity, kde získala kvalifikaci učitelky pro první stupeň ZŠ s angličtinou. V současné době si dále rozšiřuje svou kvalifikaci i o pedagogiku předškolní na Open Univerzity.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/eliska.jpg" width="120" height="160" alt="Eliska">
								<h6>Eliška Hubáčková</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:eliska.hubackova@ischool.cz">eliska.hubackova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Eliška Hubáčková je čerstvá absolventka magisterského studia tělesné výchovy, sportu a rekreologie Palackého Univerzity. Ve škole Eliška vyučuje tělesnou výchovu, vede odpolední klub a jako třídní asistent podporuje také práci učitelů.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
					<div class="column">  
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="http://placehold.it/120x160&text=Sandra" width="120" height="160" alt="Sandra">
								<h6>Sandra Cabajová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:sandra.cabajova@ischool.cz">sandra.cabajova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Sandra přišla do naší školy z Mezinárodní Montessori školy v Praze. Pracovala jako asistentka učitele v mateřské škole a jako učitelka anglického jazyka. <!-- Byla také zodpovědná za chod družiny a aktivit v lese. Má vystudovaný diplomový Montessori kurz pro děti ve věku 3 – 9 let a mnoho dalších kurzů. Například Respektovat a být respektován, Enviromentální výchova a další. Miluje přírodu a pomáhá dětem učit se jak se v přírodě a k přírodě chovat a proč. --> Sandra je také členem Asociace lesních mateřských škol v České republice. Ráda zpívá a hraje na různé hudební nástroje. </p>

								<br/>
								<a href="ucitele">&laquo; předchozí</a> <a href="ucitele3">další &raquo;</a>
								
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
						
						
					</div><!-- .column -->
					
					<div class="column">
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="http://placehold.it/120x160&text=Palina" width="120" height="160" alt="Palina">
								<h6>Palina Mahilina</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Palina studovala na Pedagogické Univerzitě v Bělorusku a poté pokračovala ve vzdělání na Litvě a zde v České republice. Jelikož se zajímá o media a film, strávila několik měsíců v Citizens’ Media House Bennohaus v Muensteru Německo, kde připravovala s dětmi všech věkových kategorií televizní programy. <!-- Palina se připravuje na učitelskou zkoušku TEFEL. --></p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->	
						
				</div><!-- .fold -->
