				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="http://placehold.it/120x160&text=Lenka" width="120" height="160" alt="Lenka">
								<h6>Lenka Horáková</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:lenka.horakova@ischool.cz">lenka.horakova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Lenka pobývala několik let ve Spojených státech, kde pracovala jako Au pair a studovala na univerzitě SUNY Purchase. Zde získala bakalářský titul v oblasti umění. Po návratu do České republiky vyučovala na základní škole angličtinu, výtvarnou výchovu a vedla družinu. Nyní vede program ve školní družině.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="http://placehold.it/120x160&text=Jana" width="120" height="160" alt="Jana">
								<h6>Jana Schovajsová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:jana.schovajsova@ischool.cz">jana.schovajsova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Jana vystudovala Učitelství pro 1. stupeň ZŠ a anglický jazyk na Univerzitě Palackého v Olomouci. Strávila několik měsíců v Anglii jako au-pair a také semestr studovala ve Švédsku program Multikulturní třída. Zajímá se o environmentální výchovu (má Ph.D. v této oblasti) a má ráda přírodu, ráda chodí na procházky, jezdí na kole, pracuje na zahrádce, vaří a zpívá. </p>
								<a href="ucitele2">&laquo; předchozí</a>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							&nbsp;
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
											
				</div><!-- .fold -->
