				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
			  
			  <div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/betty.jpg" width="120" height="160" alt="Betty">
							<h6>Alžběta Vrbová</h6>
							učitelka Primary<br/>
							<br/>								
							<!-- <a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a> --><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Alžběta je z Uherského Brodu. Vystudovala pedagogickou fakultu Univerzity Palackého. Studovala také pedagogiku volnočasových aktivit a tělocvik v Olomouci a později v Coimbře v Portugalsku. Také pracovala jako učtelka v české základní škole. Ve volném čase ráda sportuje – tanec a plavání jsou její oblíbené aktivity. Také ráda cestuje, a navštěvuje galerie a divadla.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="http://dummyimage.com/120x160/cccccc/666666&text=coming+soon" width="120" height="160" alt="Janita">
							<h6>Janita Itäniemi</h6>
							After School Teacher<br/>
							<br/>								
							<!-- <a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a> --><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Janita pochází z Finska. Její vzdělání jako učitelky základní školy a učitelky anglického jazyka poskytují základ, který může uplatnit v After School Clubu. Janita věří, že každé dítě je unkátí osobností, jejíž přítomnost obohacuje prostředí výuky a doufá spolu že s dětmi dokáže z After School Clubu vytvořit svatostánek, kde hry budou hlavní aktivitou.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
			  
			</div><!-- .fold -->
			
			<div class="fold">
			  
			  <a href="ucitele2">&laquo; předchozí</a>
			  
			</div><!-- .fold -->
					