				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/petr.jpg" width="120" height="160" alt="Petr">
								<h6>Petr Pospíšil</h6>
								jednatel<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 604 115 982<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Petr žil a&nbsp;pracoval v&nbsp;Nizozemí a&nbsp;v&nbsp;Anglii, kde získal v&nbsp;roce 2005 magisterský titul na Durham University. Již řadu let se zabývá problematikou vzdělávání v&nbsp;ČR a&nbsp;nově i&nbsp;v&nbsp;mezinárodním kontextu. Ve škole se stará o&nbsp;chod základní školy.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/marketa.jpg" width="120" height="160" alt="Marketa">
								<h6>Markéta Musiolová</h6>
								jednatelka<br/>
								<br/>								
								<a href="mailto:marketa.musiolova@ischool.cz">marketa.musiolova@ischool.cz</a><br/>
								tel. +420 605 966 401<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Markéta je zodpovědná za chod školky a pracuje s dětmi ve třídách nursery a reception. Markéta žila více než 2 roky ve Velké Británii, kde studovala a pracovala s dětmi v různých pozicích. Práce s dětmi ji velmi naplňuje, proto se rozhodla dále se profesně vzdělávat na Open University v oblasti výchovy a vzdělávání dětí předškolního věku. Markéta pochází z Havířova, města na Severní Moravě. Mimo práci ve škole, má ráda lyžování, jízdu na kole, plavání a cestování.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/tereza.jpg" width="120" height="160" alt="Tereza">
								<h6>Tereza Zemanová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:tereza.zemanova@ischool.cz">tereza.zemanova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Tereza nastoupila na naši školu v roce 2008. Absolvovala Univerzitu Palackého v Olomouci a je kvalifikovanou učitelkou prvního a druhého stupně základní školy. Studovala také vzdělávací a reformní strategie ve Švédsku, strávila několik měsíců v Anglii a žila několik let v Irsku. <!-- Po návratu vyučovala angličtinu na soukromých jazykových školách, potom pracovala na české základní škole (první i druhý stupeň) a střední škole (gymnázium). --> Tereza se stará o třídu „Milepost II“ a také vede ve škole český program. Kromě učení má Tereza ráda kynologický sport agility, <!-- kterému se věnuje se svými psy,  ráda tráví čas v přírodě (nejlépe s přáteli),--> jezdí na kole a miluje hudbu.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
				
					<div class="column">
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/veronika.jpg" width="120" height="160" alt="Veronika">
								<h6>Veronika Pospíšilová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:veronika.pospisilov@ischool.cz">veronika.pospisilova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Veronika pochází z Rokytnice u Přerova. Posledních 9 let žila a pracovala v Londýně jako nanny pro děti ve věku od 2,5 - 5 let. Mimo jiné také pracovala v mateřskéškolce vjako asistentka učitele. Také hodně cestovala okolo světa. Cestováni ji hodně baví, protože tak poznává jiné zvyky lidí a jejich zemí. Práce s dětmi ji velice baví. Stejně jako fotografování a procházky v přírodě.</p>
								<a href="ucitele2">další &raquo;</a>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
					
					<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/sully.jpg" width="120" height="160" alt="Sully">
								<h6>Sully Velasquéz Mazáč</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:sully.velasquez.mazac@ischool.cz">sully.velasquez.mazac@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Sully pochází z Hondurasu, Střední Ameriky. Je kvalifikovaná učitelka pro děti ve věku od 2 do 7 let. Také pracovala jako dobrovolnice a překladatelka pro americkou organizaci ONG<!-- , která pomáhá dětem a dospívajícím mladým lidem -->. V posledních 9 letech učila děti v mateřských školkách a v prvním ročníku základní školy v obou jazycích, ve španělštině a v angličtině. <!-- Sully má ráda přírodu, vycházky do hor, plavání, ráda navštěvuje botanické parky, přírodní rezervace a ráda zahradničí. --></p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
				</div><!-- .fold -->	
						
