				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/lenka-horakova.jpg" width="120" height="160" alt="Lenka">
								<h6>Lenka Horáková</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:lenka.horakova@ischool.cz">lenka.horakova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Lenka pobývala několik let ve Spojených státech, kde pracovala jako Au pair a studovala na univerzitě SUNY Purchase. Zde získala bakalářský titul v oblasti umění. Po návratu do České republiky vyučovala na základní škole angličtinu, výtvarnou výchovu a vedla družinu. Nyní vede program ve školní družině.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/jana-schovajsova.jpg" width="120" height="160" alt="Jana">
								<h6>Jana Schovajsová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:jana.schovajsova@ischool.cz">jana.schovajsova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Jana vystudovala Učitelství pro 1. stupeň ZŠ a anglický jazyk na Univerzitě Palackého v Olomouci. Strávila několik měsíců v Anglii jako au-pair a také semestr studovala ve Švédsku program Multikulturní třída. Zajímá se o environmentální výchovu (má Ph.D. v této oblasti) a má ráda přírodu, ráda chodí na procházky, jezdí na kole, pracuje na zahrádce, vaří a zpívá. </p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
				</div><!-- .column -->
				
				<div class="column">
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/veronika.jpg" width="120" height="160" alt="Veronika">
								<h6>Veronika Pospíšilová</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:veronika.pospisilov@ischool.cz">veronika.pospisilova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Veronika pochází z Rokytnice u Přerova. Posledních 9 let žila a pracovala v Londýně jako nanny pro děti ve věku od 2,5 - 5 let. Mimo jiné také pracovala v&nbsp;mateřské školce jako asistentka učitele. Také hodně cestovala okolo světa. Cestováni ji hodně baví, protože tak poznává jiné zvyky lidí a jejich zemí. Práce s dětmi ji velice baví. Stejně jako fotografování a procházky v&nbsp;přírodě.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/sully.jpg" width="120" height="160" alt="Sully">
								<h6>Sully Velasquéz Mazáč</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:sully.velasquez.mazac@ischool.cz">sully.velasquez.mazac@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Sully pochází z Hondurasu, Střední Ameriky. Je kvalifikovaná učitelka pro děti ve věku od 2 do 7 let. Také pracovala jako dobrovolnice a překladatelka pro americkou organizaci ONG<!-- , která pomáhá dětem a dospívajícím mladým lidem -->. V posledních 9 letech učila děti v mateřských školkách a v prvním ročníku základní školy v obou jazycích, ve španělštině a v angličtině. <!-- Sully má ráda přírodu, vycházky do hor, plavání, ráda navštěvuje botanické parky, přírodní rezervace a ráda zahradničí. --></p>
								<a href="ucitele2">&laquo; předchozí</a>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
				</div><!-- .column -->
				
				<div class="column">
						<div class="teacher_profile">
							&nbsp;
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					