<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Učitelé</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<%= erb(:analytics, :layout => false) %>
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/staff2">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/domu"><img id="logo" src="images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/domu">domů</a></li>
					<li><a href="skolka">školka</a></li>
					<li><a href="skola">škola</a></li>
					<li><a class="active" href="ucitele">učitelé</a></li>
					<li><a href="kontakt">kontakt</a></li>
					<li><a href="novinky">novinky</a></li>
					<li><a href="rozsireni-skolky">rozšíření školky</a></li>
					<li><a href="galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/katerina.jpg" width="120" height="160" alt="Katerina">
								<h6>Katerina Pegg</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:katerina.pegg@ischool.cz">katerina.pegg@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Katerina je nadšená a laskavá paní učitelka s odhodláním pomáhat žákům rozvíjet své znalosti a dovednosti. Katerina pochází z Makedonie, kde získala svou učitelskou kvalifikaci. Katerina nedávno absolvovala a uspěla ve velmi náročné zkoušce Cambridge CPE. V naší škole zastává pozici třídní učitelky nejstarší skupiny MP3.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/martina.jpg" width="120" height="160" alt="Martina">
								<h6>Martina Břížková</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:martina.brizkova@ischool.cz">martina.brizkova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Martina je mladá absolventka Jihočeské Univerzity, kde získala kvalifikaci učitelky pro první stupeň ZŠ s angličtinou. V současné době si dále rozšiřuje svou kvalifikaci i o pedagogiku předškolní na Open Univerzity.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
						
						<a href="ucitele">&laquo; předchozí</a>
						
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/eliska.jpg" width="120" height="160" alt="Eliska">
								<h6>Eliška Hubáčková</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:eliska.hubackova@ischool.cz">eliska.hubackova@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Eliška Hubáčková je čerstvá absolventka magisterského studia tělesné výchovy, sportu a rekreologie Palackého Univerzity. Ve škole Eliška vyučuje tělesnou výchovu, vede odpolední klub a jako třídní asistent podporuje také práci učitelů.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
											
				</div><!-- .fold -->	
						
			</div><!-- #body -->
			<div id="footer">
				Design a vývoj webu Josef Richter <a href="http://www.josefrichter.com">www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		
	</body>
	
</html>