				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/katerina.jpg" width="120" height="160" alt="Katerina">
								<h6>Katerina Pegg</h6>
								učitelka Primary<br/>
								<br/>								
								<a href="mailto:katerina.pegg@ischool.cz">katerina.pegg@ischool.cz</a><br/>
								&nbsp;<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Katerina získala kvalifikaci učitele anglického jazyka a&nbsp;literatury v roce 2008 na Cyrilometodějské Univerzitě v Makedonii.<!--  Poté tři roky pracovala jako učitelka angličtiny na základní škole v Makedonii, kde také potkala svého současného manžela, který je původem z Kanady a v době, kdy se poznali, pracoval a žil v České Republice. Tato skutečnost přivedla Katerinu k nám a v loňském školním roce oba dva přivítali nový přírůstek do rodiny.  --> Katerina je velmi flexibilní učitelka a od jejího nástupu pracovala jako učitelka angličtiny, matematiky a IPC. </p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
					
			<div class="fold">
				<div class="column">  
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/sandra-cabajova.jpg" width="120" height="160" alt="Sandra">
							<h6>Sandra Cabajová</h6>
							asistentka Early Years<br/>
							<br/>								
							<a href="mailto:sandra.cabajova@ischool.cz">sandra.cabajova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Sandra přišla do naší školy z Mezinárodní Montessori školy v Praze. Pracovala jako asistentka učitele v&nbsp;mateřské škole a jako učitelka anglického jazyka. <!-- Byla také zodpovědná za chod družiny a aktivit v lese. Má vystudovaný diplomový Montessori kurz pro děti ve věku 3 – 9 let a mnoho dalších kurzů. Například Respektovat a být respektován, Enviromentální výchova a další. Miluje přírodu a pomáhá dětem učit se jak se v přírodě a k přírodě chovat a proč. --> Sandra je také členem Asociace lesních mateřských škol v České republice. Ráda zpívá a hraje na různé hudební nástroje. </p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
					
					
					
				</div><!-- .column -->
				
				<div class="column">
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/palina-mahilina.jpg" width="120" height="160" alt="Palina">
							<h6>Palina Mahilina</h6>
							učitelka<br/>
							<br/>								
							<a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Palina studovala na Pedagogické Univerzitě v Bělorusku a poté pokračovala ve vzdělání na Litvě a zde v České republice. Jelikož se zajímá o media a film, strávila několik měsíců v Citizens’ Media House Bennohaus v&nbsp;Muensteru Německo, kde připravovala s dětmi všech věkových kategorií televizní programy. <!-- Palina se připravuje na učitelskou zkoušku TEFEL. --></p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->	
					
			</div><!-- .fold -->

			<div class="fold">
			
				<div class="column">			
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/jana-schovajsova.jpg" width="120" height="160" alt="Jana">
							<h6>Jana Schovajsová</h6>
							učitelka Primary<br/>
							<br/>								
							<a href="mailto:jana.schovajsova@ischool.cz">jana.schovajsova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Jana vystudovala Učitelství pro 1. stupeň ZŠ a anglický jazyk na Univerzitě Palackého v Olomouci. Strávila několik měsíců v Anglii jako au-pair a také semestr studovala ve Švédsku program Multikulturní třída. Zajímá se o environmentální výchovu (má Ph.D. v této oblasti) a má ráda přírodu, ráda chodí na procházky, jezdí na kole, pracuje na zahrádce, vaří a zpívá. </p>
							<a href="ucitele">&laquo; předchozí</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
					
				<div class="column">	
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/lenka-horakova.jpg" width="120" height="160" alt="Lenka">
							<h6>Lenka Horáková</h6>
							učitelka After School Club<br/>
							<br/>								
							<a href="mailto:lenka.horakova@ischool.cz">lenka.horakova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Lenka pobývala několik let ve Spojených státech, kde pracovala jako Au pair a studovala na univerzitě SUNY Purchase. Zde získala bakalářský titul v oblasti umění. Po návratu do České republiky vyučovala na základní škole angličtinu, výtvarnou výchovu a vedla družinu. Nyní vede program ve školní družině.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->