				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
					</div><!-- .column -->
						
			</div><!-- .toprow -->
			
			<div class="fold">
			  
			  <div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/betty.jpg" width="120" height="160" alt="Betty">
							<h6>Alžběta Kolínková</h6>
							učitelka Primary<br/>
							<br/>								
							<a href="mailto:alzbeta.kolinkova@ischool.cz">alzbeta.kolinkova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Alžběta je z Uherského Brodu. Vystudovala pedagogickou fakultu Univerzity Palackého. Studovala také pedagogiku volnočasových aktivit a tělocvik v Olomouci a později v Coimbře v Portugalsku. Také pracovala jako učtelka v české základní škole. Ve volném čase ráda sportuje – tanec a plavání jsou její oblíbené aktivity. Také ráda cestuje, a navštěvuje galerie a divadla.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
				
				<div class="column">			
				  <div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/Janita.jpg" width="120" height="160" alt="Janita">
							<h6>Janita Itäniemi</h6>
							učitelka Primary a After school Clubu<br/>
							<br/>								
							<a href="mailto:janita.itaniemi@ischool.cz">janita.itaniemi@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Janita pochází z Finska vystudovala učitelství základní školy (Dánsko) a učitelství anglického jazyka (Skotsko). Janita věří, že každé dítě je unkátí osobností, jejíž přítomnost obohacuje prostředí výuky. Janita pracuje jako učitelka MP1 a After School Clubu.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				  
				</div><!-- .column -->
			  
			</div><!-- .fold -->
			
			<div class="fold">
			
				<div class="column">			
          			<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/alzbeta.jpg" width="120" height="160" alt="Alžběta Kočí">
							<h6>Alžběta Kočí</h6>
							učitelka ESL a asistent pedagoga<br/>
							<br/>								
							<a href="mailto:alzbeta.koci@ischool.cz">alzbeta.koci@ischool.cz</a><br/><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Alžběta vystudovala hudební výchovu a českou filologii na Univerzitě Palackého v Olomouci. Tři roky pracovala v Edinburghské školce jako učitelka. Tam si uvědomila, že práce s malými dětmi je její životní cesta, a proto se rozhodla rozšířit své znalosti studiem Vyššího národního certifikátu Raná výchova a péče o dítě, který úspěšně dokončila v roce 2010.</p>
							<a href="ucitele2">&laquo; předchozí</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
					
				<div class="column">	
          			<div class="teacher_profile">
						
						<div class="contact">
							<img src="http://dummyimage.com/120x160&text=Libuše Hrabí" width="120" height="160" alt="Libuše Hrabí">
							<h6>Libuše Hrabí</h6>
							učitelka přírodních věd<br/>
							<br/>								
							<a href="mailto:libuse.hrabi@ischool.cz">libuse.hrabi@ischool.cz</a><br/><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Libuše vystudovala biologii na VŠ v Brně a v Bukurešti. Pracovala jako docentka na Katedře biologie Pedag. Fakulty v Olomouci. Podílí se na projektech, grantech, soutěžích, překladech, recenzích a pracích ve výzkumných pracovištích. Hovoří anglicky,<br/>francouzsky, rumunsky, rusky a německy.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->
					