				 
				<div class="toprow">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .toprow -->
					
			<div class="fold">
				
				<div class="column">
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/palina.jpg" width="120" height="160" alt="Palina">
							<h6>Palina Mahilina</h6>
							učitelka Primary<br/>
							<br/>								
							<a href="mailto:palina.mahilina@ischool.cz">palina.mahilina@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Palina studovala na Pedagogické Univerzitě v Bělorusku a poté pokračovala ve vzdělání na Litvě a zde v České republice. Jelikož se zajímá o media a film, strávila několik měsíců v Citizens’ Media House Bennohaus v&nbsp;Muensteru Německo, kde připravovala s dětmi všech věkových kategorií televizní programy. <!-- Palina se připravuje na učitelskou zkoušku TEFEL. --></p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">  
					<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/agnieszka.jpg" width="120" height="160" alt="Agnieszka">
							<h6>Agnieszka Landowska</h6>
							After School Club Učitel a Asistent Pedagoga<br/>
							<br/>								
							<a href="mailto:agnieszka.landowska@ischool.cz">agnieszka.landowska@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Agnieszka vystudovala Divadelní vědu na Jagellonské univerzitě v Krakově a Vizuální Umění v Gdynii. Během studií pracovala jako instruktorka na dětských táborech, vedla tábory zaměřené na výtvarné umění, divadlo, módu, atd. V současné době rozšiřuje své vzděláni o PhD zde na Palackého Univerzitě. Má velmi ráda český humor, hlavně Divadlo Járy Cimrmana a Hrabalovy knihy. Baví ji kreslení, navrhování šperků a cestování jen s batůžkem.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->	
					
			</div><!-- .fold -->

			<div class="fold">
			
				<div class="column">			
          			<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/staff/iva.jpg" width="120" height="160" alt="Iva">
							<h6>Iva Tenorová</h6>
							učitelka Českého jazyka<br/>
							<br/>								
							<a href="mailto:iva.tenorova@ischool.cz">iva.tenorova@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Iva vystudovala Historii a Českou filologii na Palackégo Univerzitě v Olomouci. Má bohaté zkušenosti z různých typů škol z prvního a druhého stupně základní školy i ze střední školy. Má ráda literaturu, sci-fi filmy, balet a pěstování květin. </p>
							<a href="ucitele">&laquo; předchozí</a>&nbsp;&nbsp;&nbsp;<a href="ucitele3">následující &raquo;</a>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
					
				<div class="column">	
          			<div class="teacher_profile">
						
						<div class="contact">
							<img src="/images/bara2.jpg" width="120" height="160" alt="Barbora">
							<h6>Barbora Bohdanská</h6>
							učitelka sociálních věd<br/>
							<br/>								
							<a href="mailto:barbora.bohdanska@ischool.cz">barbora.bohdanska@ischool.cz</a><br/>
							&nbsp;<br/>
							
							<hr class="cleaner" />
						</div><!-- .contact -->
						
						<div class="bio">
							<p>Barbora vystudovala jako učitelka angličtiny a občanské nauky na Palackého Univerzitě. Strávila čas v Anglii jako au-pair, má zkušenosti s prací výcvikové manažerky a dobrovolné učitelky v dětském domově. Ráda peče koláče, má ráda starý nábytek a módu.</p>
						</div><!-- .bio -->
					</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
			</div><!-- .fold -->