<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - Učitelé</title>
		
		<link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/staff">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<img id="logo" src="images/logo.png" width="150" height="58" alt="Logo">
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/domu">domů</a></li>
					<li><a href="skolka">školka</a></li>
					<li><a href="skola">škola</a></li>
					<li><a class="active" href="ucitele">učitelé</a></li>
					<li><a href="kontakt">kontakt</a></li>
					<li><a href="novinky">novinky</a></li>
					<li><a href="galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				 
				<div class="banner">
					
					<div class="column">	
						<div class="intro">
							<h1 class="nospacing">Učitelé</h1>
							<h5 class="nospacing">Všichni učitelé hovoří plynně anglicky a jsou kvalifikování pro vedení výuky v anglickém jazyce dle požadavků Ministerstva školství. Od všech učitelů očekáváme nadšení a pozitivní přístup ke své práci. Věříme, že když učitelé budou svou práci milovat, také děti se budou učit lépe.</h5>
							
						</div><!-- .intro -->
					</div><!-- .column -->
					
					<div class="column">	
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/photo_sample.jpg" width="94" height="140" alt="Photo Sample">
								<h6>Petr Pospíšil</h6>
								jednatel<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 602 123 456<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Petr žil a pracoval v Nizozemí a v Anglii, kde získal v roce 2005 magisterský titul na Durham University. Již řadu let se zabývá problematikou vzdělávání v ČR a nově i v mezinárodním kontextu. Ve škole se stará o chod základní školy.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
						
			</div><!-- .banner -->
			
			<div class="fold">
				<div class="column">			
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/photo_sample.jpg" width="94" height="140" alt="Photo Sample">
								<h6>Marketa Musiolova</h6>
								jednatelka<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 602 123 456<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Marketa strávila přes dva roky ve Velké Británii a v současné době studuje bakalářský program v oblasti předškolní výchovy na Open University. Dříve take pracovala s dětmi v různých pozicích. Markéta je stará o výuku v mateřské škole.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
				</div><!-- .column -->
				
				<div class="column">		
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/photo_sample.jpg" width="94" height="140" alt="Photo Sample">
								<h6>Tereza</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 602 123 456<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Tereza je stále veselá paní učitelka s kvalifikací pro první stupeň ZŠ z Univerzity Palackého. Dříve pracovala na českých školách jako učitelka angličtiny. Tereza se stará o Milepost II třídu a je take koordinátorkou českého programu.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
				</div><!-- .fold -->
					
				<div class="fold">
					<div class="column">  
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/photo_sample.jpg" width="94" height="140" alt="Photo Sample">
								<h6>Barbora</h6>
								učitelka<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 602 123 456<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>Barbora je mladá profesionální učitelka na prvním stupni ZŠ s odpovídající kvalifikací z Univerzity Palackého. Předtím než se rozhodla vycestovat a strávit nějaký čas na Novém Zélandě pracovala na českých školách. Barbora vyučuje Milepost I třídu.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->
					
					<div class="column">
						<div class="teacher_profile">
							
							<div class="contact">
								<img src="/images/photo_sample.jpg" width="94" height="140" alt="Photo Sample">
								<h6>John</h6>
								učitel<br/>
								<br/>								
								<a href="mailto:petr.pospisil@ischool.cz">petr.pospisil@ischool.cz</a><br/>
								tel. +420 602 123 456<br/>
								
								<hr class="cleaner" />
							</div><!-- .contact -->
							
							<div class="bio">
								<p>John je kanadský občan s kvalifikací učitele křesťanského vzdělávání. Dříve něž se přestěhoval s rodinou do ČR, kde nyní žije již cca 10 let, žil a pracoval na různých místech po světě. U nás pracuje jako učitel anglického jazyka pro žáky vyššího prvního stupně.</p>
							</div><!-- .bio -->
						</div><!-- .teacher_profile -->
					</div><!-- .column -->	
						
				</div><!-- .fold -->	
						
			</div><!-- #body -->
			
		</div><!-- #wrapper -->
		
	</body>
	
</html>