<div class="newsletter">

	<h1>Circus came to town</h1>
	
	<p>„Ladieeeees and gentleman welcome to our circus!“ The Year 2 parents are smiling and the show begins. One by one we see the acrobats with juggling balls, clowns, dancers, even a trained puma jumping! When the magician comes on stage we start to ponder how the little girl does it. No, we won’t tell you the trick… ☺</p>
	<p>Circus is the IPC Units of Work for Year 2 children that will be used for learning during the first half of the term. Children will learn how to use maps and atlases to find out about the countries some of the circus animals come from, draw maps and plans to show how a circus might be set up, how to plan and put up a tent and as part of the international learning they will learn what different people think about using animals in circus performances.</p>
	<p>What IPC Units we started with?<br />
	Milepost 1 (YEAR 1) – Ourselves<br />  
	Milepost 2 (YEAR 3+4) – Volcanos and disasters<br /> 
	Milepost 3 (YEAR 5+6) – Trade and globalisation</p>

	<div class="nl_images">
		 <a href="/images/circus1.jpg"><img src="/images/thumb_circus1.jpg" width="160" height="120" alt="Thumb Circus1"></a>
		 <a href="/images/circus2.jpg"><img src="/images/thumb_circus2.jpg" width="90" height="120" alt="Thumb Circus2"></a>
		 <a href="/images/circus3.jpg"><img src="/images/thumb_circus3.jpg" width="90" height="120" alt="Thumb Circus3"></a>
		 <a href="/images/circus4.jpg"><img src="/images/thumb_circus4.jpg" width="160" height="120" alt="Thumb Circus4"></a>
	</div>
	
</div><!-- .newsletter -->