<div class="newsletter">

	<h1>Přijel Cirkus…</h1>
	
	<p>„Dámy a pánové, vítejte v našem cirkusu!“ Rodiče žáků třídy YEAR 2 se usmívají a představení začíná. Postupně vystupují žongléři, akrobaté, klauni, tanečnice a dokonce i cvičená puma! Když své kouzlo s kartami předvádí kouzelník, mnozí možná přemýšlí o tom, jak to jen ten šestiletý kluk dokáže… Ne, tajemství kouzla neprozradíme ☺</p>
	<p>Cirkus je pro naše „druháky“ tématem, kterému se budou věnovat celou polovinu prvního termu. Budou se učit používat mapy a atlasy k zjišťování informací o kontinentech a zemích odkud jsou zvířata, která bývají v cirkusech k vidění, budou kreslit plánek a mapu cirkusu, v&nbsp;předmětu technologie budou děti sestavovat plán a následně podle plánu stavět stan, ve výtvarné výchově budou navrhovat obličejové masky klanů a v neposlední řadě v předmětu „international“ si budou s paní učitelkou povídat o tom, co si různí lidé myslí a práci se zvířaty v cirkusu.</p>
	<p>Jaká témata v rámci IPC probírají ostatní třídy?<br />
	Milepost 1 (YEAR 1) – My<br />
	Milepost 2 (YEAR 3+4) – Sopky a katastrofy<br />
	Milepost 3 (YEAR 5+6) – Obchod a globalizace</p>
	
	<div class="nl_images">
		 <a href="/images/circus1.jpg"><img src="/images/thumb_circus1.jpg" width="160" height="120" alt="Thumb Circus1"></a>
		 <a href="/images/circus2.jpg"><img src="/images/thumb_circus2.jpg" width="90" height="120" alt="Thumb Circus2"></a>
		 <a href="/images/circus3.jpg"><img src="/images/thumb_circus3.jpg" width="90" height="120" alt="Thumb Circus3"></a>
		 <a href="/images/circus4.jpg"><img src="/images/thumb_circus4.jpg" width="160" height="120" alt="Thumb Circus4"></a>
	</div>
	
</div><!-- .newsletter -->