<div class="newsletter">

	<h1>New Preschool Building</h1>
	
	<p>I am sure you have already noticed that the new preschool building has been developing fairly quickly in the recent weeks. Let me just give you brief information about various milestones this project had to gone through. Since International School Olomouc is still a small and growing private school the first and most important issue we had to resolve was obviously the question of finances.</p>
	<p>After countless hours of research we identified possible sources of funding and decided to approach the City of Olomouc with a concrete proposal. Now it is almost certain that 85 % of all the funding for the new school will come from tax payers of other European countries, namely Germany, UK and France together with other countries contributing into the EU budget and to the ESF and ERDF funds. The remaining 15 % percent is financed by a bank loan the school has signed and put forward as a rent deposit.</p>
	<p>Secondly, it was the planning project itself. Actually the building was supposed to be a bit smaller and, initially, we were thinking of the modular building structure. Following the advice coming from several architects whose consultancy services we utilised it has been decided that due to numerous benefits the building will follow a simple and smart design with an aim to meet the low energy consumption standards set for passive buildings. If all the designed standards are met this building will be certainly unique.</p>
	<p>In the coming weeks, we will finalize the long term lease contract with the City of Olomouc. The most recent information e have from the City is that the building should be ready for operation sometime during November. However, this can certainly change but we are trying to push hard to make all the parties involved meet their deadlines.</p>
	<p>I need to say that I am quite excited about this project and hope that our smallest members of the school community will be soon taking advantage of the two brand new classrooms and all the clever space there.</p>

	<br />
	<iframe width="600" height="450" src="http://www.youtube.com/embed/lizOOc8pDws" frameborder="0" allowfullscreen></iframe>

</div><!-- .newsletter -->