<div class="newsletter">

	<h1>New Staff</h1>
	
	<p>We have started the academic year 2011/2012 with three changes to the team.</p>
	<p>In Preschool we encountered an exchange along the line Prague – Olomouc. <b>Martina</b>, whe left for Prague was replaced by <b>Sandra</b> who worked in the capital for the last five years as a support teacher at International Montessori School. Sandra is very much interested in learning outside and in the effects the environment can have on small children´s learning. She is willing to enrich our international programme with some aspects of Forest Schools.</p>
	<p>Since this year we were opening a new self-contained Year 1 class, we hired a new teacher, <b>Miss Palina</b>. She is young graduate from Palackého University where she obtained her master’s degree in Euroculture. She received her pedagogical education in her hometown Barysau, Belarus. Barysau´s football club is this year in the same group with Viktoria Plzen in the Championships league.  Hopefully, Viktoria will be more successful than Napoleon and his Swiss armies. Our After School Club teacher this year will be Miss Lenka who a wealth of experience from the USA in organizing extra-curricular activities. Lenka previously also taught at Czech primary school in Olšany, Šumperk.</p>

	<div class="nl_images">
		 <img src="/images/preschool_circle_600.jpg" width="600" height="450" alt="Preschool Circle">
	</div>
	
</div><!-- .newsletter -->