<div class="newsletter">

	<h1>Nová budova školky</h1>
	
	<p>Projekt výstavby nové MŠ a s tím související rozvoj International School Olomouc je významným příspěvkem k ekonomickému rozvoji města stejně jako k rozvoji zdejší nabídky vzdělávacích služeb. Dovolte mi jen pár slov ke způsobu financování tohoto projektu a&nbsp;způsobu navržení stavby samotné.</p> 
	<p>International School Olomouc je malá rozvíjející se soukromá škola s velmi omezenými možnostmi v oblasti financování dlouhodobých investic. Otázka finančních zdrojů byla asi nejsložitějším problémem, jehož řešení, když vše půjde dle plánu, bude znamenat, že podíl finančních prostředků z rozpočtu města Olomouce se bude blížit ve srovnání s objemem investice téměř nule.</p> 
	<p>V současné době je skoro jisté, že 85% finančních prostředků na novou budovu poplyne od daňových poplatníků velkých přispěvovatelů do rozpočtu EU, Evropského sociálního fondu (ESF) a Evropského fondu pro regionální rozvoj (ERDF), zejména tedy Německa, Británie, Francie a dalších. Zbývajících 15% procent je financováno v podobě dlouhodobé zálohy na nájemném prostřednictvím bankovního úvěru poskytnutého škole.</p>
	<p>Další docela složitou otázkou byla příprava studie a návrhu tak, aby odpovídal velmi náročnému předškolnímu vzdělávacímu programu, byl finančně efektivní a hlavně realizovatelný v relativně krátkém časovém horizontu. Původně jsme, hlavně z finančních důvodů, uvažovali o modulární konstrukci stavby. Na základě konzultací s architekty jsme tento záměr opustili a rozhodli se navrhnout novou MŠ jako dřevostavbu v energetickém standardu pro pasivní dům. Podařili se stavební firmě dodržet energetický standard, bude se jednat o opravdu výjimečnou stavbu.</p>
	<p>V následujících několika týdnech bychom měli dokončit jednání o dlouhodobé nájemní smlouvě s městem Olomouc. Poslední informaci, kterou máme o termínu dokončení stavby je začátek listopadu, což se pochopitelně může, jak to tak bývá, ještě změnit. Nicméně vedení školy se snaží vyvíjet maximální tlak na všechny zúčastněné strany, aby termíny byly dodržovány.</p>
	<p>Musím říct, že se velmi těším na to, až děti i z mateřské školky budou moci plně využít obě nové třídy a veškeré chytře navržené prostory v nové budově mezinárodní MŠ.</p>

	<br />
	<iframe width="500" height="375" src="http://www.youtube.com/embed/lizOOc8pDws" frameborder="0" allowfullscreen></iframe>

</div><!-- .newsletter -->