<div class="newsletter">

	<h1>Personální změny</h1>
	
	<p>Do nového školního roku jsme vstoupili mj. se třemi změnami v učitelském sboru.</p>
	<p>Ve školce došlo k obousměrné „výměně“ po ose Olomouc-Praha. <b>Martinu</b>, která odešla do Prahy, nahradila slečna <b>Sandra</b>, která v hlavním městě pracovala posledních 5 let v Montessori škole a školce. Sandra je příznivkyní vzdělávání v přírodě a ráda by některé prvky tzv. „lesní školky“ integrovala do vzdělávacích plánů naší školky. After School Club v letošním roce povede Lenka, která má bohaté zkušenosti s organizací volného času v USA. Lenka také v minulosti učila na prvním stupni základní školy v Olšanech u Šumperka.</p>
	<p>Protože jsme letos otevřeli novou třídu YEAR 1, přišla mezi nás i nová třídní učitelka, slečna <b>Palina</b>. Absolventka eurokulturních studií na Universitě Palackého v Olomouci vystudovala pedagogiku v rodném Bělorusku. Pochází z Borisova, tedy stejného města, jehož fotbalový klub je v letošním ročníku Ligy mistrů soupeřem plzeňské Viktorie. Doufejme, že Viktorku nepotká stejný osud, co Napoleona a jeho Švýcarské gardy.</p>
	
</div><!-- .newsletter -->