<div class="newsletter">

	<h1>PIPS & ASPECTS Assessments</h1>
	
	<p>At the end of September our youngest children in the Nursery and Reception classes will undertake on-entry modules of the PIPS and ASPECTS assessments. Aim of these assessments is to determine the baseline scores for both Nursery children and Reception children so that we can measure the added value of the school and the program.</p>
	<p>Besides the added value measure it will also be possible to determine the strengths and areas of development of each child. In other words, it will show what the child is good at and what we need to focus in the future.</p>
	<p>Tests are nothing to be worried about. The tools we use have been develop to be child friendly and are complete individually with each child’s teacher. The test itself consists of a set of animated and interactive screens. The child works through it quite naturally as if he or she was listening to a story pointing to pictures when answering questions.</p>
	
	
</div><!-- .newsletter -->