<div class="newsletter">

	<h1>Survey results - continued</h1>
	
	<h3>We made a questionnaire for parents at the ISO about what makes them decide to buy things at a shop, the price of a product, the brand of the product, and the quality of the product and this is the result</h3>

	<p>Most parents from the ISO think that the price of a product is of medium importance, the second most common answer they thought was very important.</p>

	<p>Most parents think the brand is of medium importance and the second most common answer for parents is very important.</p>

	<p>Most parents think the quality of the product is either extremely important or very important.</p>

	<p>When the parents at the ISO go to the shop the most important thing for them is the quality of the product, as you can see on the charts.</p>

	<p>Cameron Marsaglia</p>
	
	<br />
	<img src="/images/newsletter/decisions_quality.JPG" width="476" height="283" alt="Decisions Quality">
	<br /><br />
	<img src="/images/newsletter/decisions_brand.JPG" alt="Decisions Brand"><img src="/images/newsletter/decisions_price.JPG" alt="Decisions Price">
	<br /><br />
	
	<a href="/newsletter/survey-results-2">&laquo; Page 2</a>
	

</div><!-- .newsletter -->