<div class="newsletter">

	<h1>Survey results - continued</h1>
	
	<p>Then we asked about how important is the quality of the product and most of the adults said that it is very important. “Extreme importance” and “medium importance” took second place.</p>

	<br />
  <img src="/images/newsletter/quality.JPG" width="426" height="310" alt="Quality">
	<br />
	
	<p>After we looked at the charts, we clearly saw: For the different global brands the ADVERTISEMENT is more helpful then the quality of the product.</p>

	<p>Your answers helped us to understand how different global brands became so famous!</p>

	<p>THANKS FOR THAT!</p>

	<p>Made by Sonja Maria Ringger</p>
	
	<br />
	<a href="/newsletter/survey-results">&laquo; Page 1</a> - <a href="/newsletter/survey-results-3">Page 3 &raquo;</a>

</div><!-- .newsletter -->