<div class="newsletter">

	<h1>Survey results</h1>
	
	<p>Dear parents, we are bringing you exclusive results of our survey into global brands and buying decisions. We collected answers from 24 parents who answered both of the questionnaires. In this survey about one quarter of our respondents were male. Here are the unedited reports written by MP3 children who also learnt how write a short report, collect and analyze results. This survey was a part of IPC Going global unit. (Mr. Petr)</p>

	<h3>The most common known GLOBAL BRANDS of the parents of the International School Olomouc</h3>

	<p>Our school researched what global brands the parents know, so we gathered up all of the information from our survey and then turned that information into charts.</p>

	<p>For the Fast Food Chains everybody put down McDonalds on the survey. The second most common fast food chain was KFC.</p>

	<p>With the Car Manufacturers there was basically a tie with Mercedes and Toyota. Eleven people put down Toyota or/and Mercedes on the survey.</p>

	<p>Based on the Sweets & Drinks, of course Coca-Cola was the most common! The second most common brand (sweets) was Nestle.</p>

	<p>For the Fashion the most common brand was Levis (jeans). The other most common fashion designers were Nike and Adidas.</p>

	<p>With Computers and Electronics, Apple and Sony were the most common global brands.</p>

	<p>Nicole Foster</p>

	<h3>What helps global brands become famous - advertising or quality?</h3>

	<p>Now we know that the advertisment helps more than the quality.</p>

	<p>We also asked the parents what is more important for the global brands; the advertisement or the quality.</p>

	<p>Most of them said that the advertisement is more important than the quality.</p>

	<p>A lot of the people thought that the advertisement is extremely or very important.</p>
	<img src="http://josefrichter.com/ischool/newsletter2/images/advertisment.JPG" width="400" alt="Advertisment">
	<br /><br />
	<a href="/newsletter/survey-results-2">Page 2 &raquo;</a>

</div><!-- .newsletter -->