<div class="newsletter">

	<h1>Vstupní diagnostické testy</h1>
	
	<p>Na konci září absolvují naši nejmladší žáčci vstupní diagnostické testy. Jejich cílem je zjistit „výchozí“ stav znalostí při vstupu do mateřské a základní školy. Na konci roku se bude test opakovat s tím, že bude možné u všech dětí zjistit tzv. přidanou hodnotu (added value) vzdělávání a docházky do školy.</p>
	<p>Kromě posouzení úrovně znalostí mají testy ještě jednu důležitou funkci: Ukáží, jaké předpoklady pro další studium dítě má. Jinými slovy: Na co se u každého jednotlivce v procesu výuky zaměřit, kterou část jeho osobnosti podpořit či rozvinout.</p> 
	<p>Testů není potřeba se bát. Každé dítě si společně s paní učitelkou přehrají několik interaktivních animací. Dítě přirozeně reaguje, výsledky jsou zaznamenávány a na konci testu vyhodnoceny. Pro děti se v žádném případě nejedná o stresující „zkoušku“, vše probíhá zcela přirozeně, hravou formou.</p>
	
</div><!-- .newsletter -->