<div class="newsletter">

	<h1>„Pololetí“ Svatého Václava</h1>
	
	<p>Titulek je záměrně nepřesný:  V Česku je sice obvyklé dělit školní rok na dvě části, na naší škole ale máme podle mezinárodního modelu „pololetí“ tři. Označují se slovem „term“, které se nejlépe přeloží asi jako „období“. První term trvá od září do Vánoc a nese jméno „svatováclavský“ po českém knížeti a patronu české země.</p> 
	<p>Svatého Václava známe nejlépe asi jako sochu jezdce na koni v horní části pražského Václavského náměstí. Budeme-li ale věřit starým pověstem, je kníže Václav i se svými rytíři ve skutečnosti ukryt v nitru hory Blaník a spí. Probudí se, až bude Čechům nejhůře. Pak vyjede na bílém koni v čele svého vojska a vyžene ze země všechny nepřátele.</p> 
	<p>(Není bez zajímavosti, že podobný příběh o vojsku spícím v hoře znají také ve Francii, v&nbsp;Německu, v Polsku nebo v Litvě, což dokazuje kolik toho Evropané mají společného.)</p>
	<p>Přestože je Svatý Václav symbolem české státnosti, v jeho životě je překvapivě mnoho otazníků… Není známo přesné datum jeho narození ani úmrtí (nejčastěji se uvádí 28. září 935), spekuluje se o dokonce i tom zda vůbec měl bratra (který jej měl přitom připravit o&nbsp;život).</p> 
	<p>Upřít mu na druhou stranu nejde založení chrámu sv. Víta nebo to, že v těžké době dokázal zachovat suverenitu českého státu.  Na svou dobu byl kníže Václav neobvykle vzdělaný: Uměl číst a psát, mluvil latinsky i řecky v době, kdy většina evropských panovníků byla zcela negramotná.</p>
	
</div><!-- .newsletter -->