<div class="newsletter">

	<h1>St. Wenceslaus Term</h1>
	
	<p>In th Czech Republic the academic year is divided into two semesters. However, our school adheres to international standards of dividing the school year into three terms. It is our <br />school´s speciality that each term carries also its own name. The first term dates from September to December and carries the name of the Czech prince St. Wenceslaus who is a significant national hero from the past.</p>
	<p>Most Czech people know his statue in the upper part of the Wenceslaus square in Prague. According to legends, however, Prince Wenceslaus is together with his brave knights hiding in caves under the Blaník Mountain where he sleeps. He shall wake up when the Czech people will be at worst and come on his white horse leading his men and will drive the enemies of the Czech peoples out of the country.
</p> 
	<p>(It is worth remembering that similar legend about knights sleeping in caves is known also in France, Germany, Poland or Lithuania which shows how much we share with other European nations.)</p>
	<p>In spite of the fact that St. Wenceslaus is a Czech national symbol there are surprisingly many question marks in his life. We, for instance, do not know when he was born or when he died (Septemebr 28th, 935AD is the most commonly used date of his death). There are even some speculations whether he had a brother (who, actually, according to some texts was his murderer).</p>
	<p>What is not disputed though is that he was the founder of the St. Vitus Cathedral in Prague or that he could maintain sovereignty during some hard times. St. Wenceslaus was also a well educated man which was not very common in the medieval Europe. He could write, read and spoke Latin and read in ancient Greek. That was during the time when most of the medieval monarchs were illiterate.</p> 
	

</div><!-- .newsletter -->