<div class="newsletter">

	<h1>Výsledky průzkumu - pokračování</h1>
	
	<h3>Vytvořili jsme dotazník pro rodiče ISO na téma, co je ovlivňuje při rozhodování při nákupu v obchodě - cena produktu, značka, nebo kvalita - a toto je výsledek.</h3>

	<p>Většina rodičů si myslí, že cena má střední důležitost, druhá nejčastější odpověď byla, že je velmi důležitá.</p>

	<p>Většina rodičů se domnívá, že značka má střední důležitost, druhou nejčastější odpovědí bylo, že je velmi důležitá.</p>

	<p>Většina rodičů si myslí, že kvalita produktů je buď „extrémně důležitá“ nebo „velmi důležitá“.</p>

	<p>Když jdou rodiče do obchodu, nejdůležitější kritérium je kvalita, což je vidět na grafu.</p>

	<p>Cameron Marsaglia</p>
	
	<br />
	<img src="/images/newsletter/decisions_quality.JPG" width="476" height="283" alt="Decisions Quality">
	<br /><br />
	<img src="/images/newsletter/decisions_brand.JPG" alt="Decisions Brand"><img src="/images/newsletter/decisions_price.JPG" alt="Decisions Price">
	<br /><br />
	
	<a href="/newsletter/vysledky-pruzkumu-2">&laquo; strana 2</a>
	

</div><!-- .newsletter -->