<div class="newsletter">

	<h1>Výsledky průzkumu - pokračování</h1>
	
	<p>Dále jsme se ptali, jak důležitá je kvalita produktu a většina rodičů odpověděla "velmi důležitá". Odpovědi "extrémně důležitá" a "středně důležitá" zaujaly druhé místo.</p>

	<br />
  <img src="/images/newsletter/quality.JPG" width="426" height="310" alt="Quality">
	<br />
	
	<p>Poté, co jsme uviděli grafy, bylo zcela zjevné: pro globální značky je reklama užitečnější než kvalita jejich produktů.</p>

	<p>Vaše odpovědi nám pomohly pochopit, jak se rozličné globální značky staly tak známými!</p>

	<p>DĚKUJEME!</p>

	<p>Vytvořila Sonja Maria Ringger</p>
	
	<br />
	<a href="/newsletter/vysledky-pruzkumu">&laquo; strana 1</a> - <a href="/newsletter/vysledky-pruzkumu-3">strana 3 &raquo;</a>

</div><!-- .newsletter -->