<div class="newsletter">

	<h1>Výsledky průzkumu</h1>
	
	<p>Vážení rodiče, přinášíme Vám exkluzivní výsledky průzkumu globálních značek a nákupního rozhodování. Získali jsme odpovědi od 24 rodičů, kteří odepověděli na oba dotazníky. Zhruba čtvrtina respondentů v tomto průzkumu byli muži. Zde jsou původní reporty sepsané dětmi z&nbsp;třídy MP3, které se zároveň naučily, jak psát krátký report, a jak sbírat a analyzovat výsledky. Tento výzkum byl součástí IPC modulu Going global. (Petr)</p>

	<h3>Nejznámější globální značky dle rodičů International School Olomouc</h3>

	<p>Naše škola zkoumala, které globální značky rodiče znají, proto jsme sesbírali informace z našeho průzkumu a převedli je do grafů.</p>


	<p>V kategorii <b>řetězců rychlého občerstvení</b> všichni v dotazníku uvedli McDonalds. Druhým nejčastěji zmiňovaným řetězcem byl KFC.</p>

	<p>Kategorie <b>výrobců automobilů</b> skončila remízou mezi Mercedesem a Toyotou. Jedenáct lidí uvedlo v průzkumu Toyotu a/nebo Mercedes.</p>

	<p>Pokud jde o <b>nápoje a sladkosti</b>, nejčastější byla samozřejmě Coca-Cola! Druhá nejčastější značka byla Nestlé.</p>

	<p>V oblasti <b>módy</b> byla nejčastější značkou Levi's. Další nejznámější značky byly Nike a Adidas.</p>

	<p>Mezi <b>počítači a elektronikou</b> byly nejčastěji zmiňovány značky Apple a Sony.</p>

	<p>Nicole Foster</p>

	<h3>Co více pomáhá globálním značkám ke známosti - reklama nebo kvalita?</h3>

	<p>Nyní víme, že reklama pomáhá více než kvalita.</p>

	<p>Také jsme se rodičů zeptali, co je důležitější pro globální značky - reklama nebo kvalita?</p>

	<p>Většina odpověděla, že reklama je důležitější než kvalita.</p>

	<p>Mnoho lidí uvedlo, že reklama je extrémně nebo velmi důležitá.</p>
	<img src="http://josefrichter.com/ischool/newsletter2/images/advertisment.JPG" width="400" alt="Advertisment">
	<br /><br />
	<a href="/newsletter/vysledky-pruzkumu-2">strana 2 &raquo;</a>

</div><!-- .newsletter -->